[2022-08-18 12:47] gilbugauisan opened #6756 "Datagrid - Space is not accepted when editing text on inline editor"
**Describe the bug**
Space is not accepted when editing text on inline editor

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://design.infor.com/code/ids-enterprise/latest/demo/components/datagrid/example-editable?theme=uplift&variant=light'
2. Edit any cells under Activity column
3. Try typing multiple words with space

**Expected behavior**
Space should be accepted.

**Version

[2022-08-18 12:56] tmcconechy commented on #6756
I dont think it makes sense to support this with the `Editors.Input`

However,It is possible with the `Editors.Textarea` editor
https://design.infor.com/code/ids-enterprise/latest/demo/components/datagrid/test-editable-long-text.html

I.E. This is the same thing is typing enter in an input field vs a textarea.

[2022-08-18 13:03] tmcconechy commented on #6756
can we fit this in @ericangeles

[2022-08-18 13:18] #6738 closed

[2022-08-18 13:39] tmcconechy commented on #6725
Can we look at this too @ericangeles - patch wis wanted for 14.1.x when completed on main... Maybe we just revert the previous fix and find something else?

[2022-08-18 14:45] #6533 closed

[2022-08-18 19:26] claudenbach commented on #6753
When the column has an editor, this issue prevents the selection of the value when the cell is made editable.

[2022-08-18 20:57] claudenbach opened #6759 "Datagrid: Editable column with group header throws an error"
**Describe the bug**
When clicking into an editable cell, getting a JSE and the value in the cell then does not get selected.  This used to work.  Seems to be caused by changes made via https://github.com/infor-design/enterprise-ng/issues/1300.

**To Reproduce**
Steps to reproduce the behavior:

1. Using the attached 'example-editable-group-headers.html'
2. Click on a Price cell to update the valu

[2022-08-18 20:58] claudenbach commented on #6759
[Git-6759.zip](https://github.com/infor-design/enterprise/files/9377642/Git-6759.zip)

[2022-08-18 20:59] claudenbach commented on #6759
Will need a patch to 4.65 once this issue is resolved.

[2022-08-19 03:04] inforrpunay opened #6760 "AppMenu: Slight pause when collapsing submenu"
**Describe the bug**
An animation delay is observed when collapsing an application menu item after updating to ids-enterprise 4.64.0.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://design.infor.com/code/ids-enterprise/4.64.0/demo/components/applicationmenu/test-six-levels.html.
2. Expand then collapse the following sub-menu: "Level 1", "Level 1 Outbound Links", "Level 1 Conte

[2022-08-19 13:30] tmcconechy commented on #6760
I dont think im seeing any difference, honestly. Can you clarify exactly which menu item exactly "Level 1-> Level 2 Content"
Maybe its a specific type of menu item? As tried a few and dont see anything odd, animation looks good to me

[2022-08-19 13:39] tmcconechy opened #6763 "Badge/Tag: The Info Icon Changed Color"
**Describe the bug**

When using “badge Info”, “tag info” and “icon info” we expect blue color on component and  in previous IDS versions we used to get Blue(Azure) color. But in IDS Version: 4.62.3 these components have gray color.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/tag/example-index.html?theme=new&mode=dark&colors

[2022-08-19 13:42] tmcconechy commented on #6763
Caused by https://github.com/infor-design/enterprise/issues/6446

[2022-08-19 13:51] ablomq commented on #6739
Maybe this is an angular issue? I'll try to setup an example in Stackblitz.

[2022-08-19 13:56] danielortiz1982 commented on #6512
As per Andy reopening till we figure this out.
CC: @inforandy @tmcconechy

[2022-08-19 14:01] tmcconechy commented on #6739
Sure, https://github.com/infor-design/enterprise/issues/6697 does seem a little like it, so just in case i just updated main so you can try against main branch..

Or latest stack blitz is https://stackblitz.com/edit/ids-quick-start-1411

Another idea is could it be if the names of the frozen columns or missing or anything wierd like that?

[2022-08-19 14:34] tmcconechy commented on #6756
For Root Cause analysis: This was caused by https://github.com/infor-design/enterprise/issues/6434

[2022-08-19 19:18] inforandy commented on #6512
Sorry for the confusion here; was looking at this one earlier today alongside the issue the portal team sent you an email about @tmcconechy, regarding dark mode tag colorations being grayscale instead of blue.

I suspect we have some misalignment somewhere on what the expected dark mode color transformations are, so I flagged this one to recheck as well when I recalled we had been discussing it.

[2022-08-19 19:18] #6512 closed

[2022-08-19 19:49] tmcconechy commented on #6725
Actually have another idea

a) Revert the fix
b) Fix the other thing
c) Make the auto width an option

[2022-08-19 20:11] tmcconechy commented on #6512
Oh, yes the tag issue is a bug that occurred due to changing this its logged separate here https://github.com/infor-design/enterprise/issues/6763 (accidentally also changed the tag info color)

[2022-08-22 03:26] inforrpunay commented on #6760
Hi Tim,

Apologies as I may have been unclear with my instruction. You are right that the delay is not noticeable when going from Level 1 to Level 2 Content. The delay can be observed when you expand then collapse the same menu (ex: "Level 1 Content"). On collapse of the menu, you will notice a slight pause before it totally closed.

Below is a recording comparing 4.64.0 and 4.63.0. Hopefully it s

[2022-08-22 05:12] #6763 closed

[2022-08-22 05:14] #6753 closed

[2022-08-22 08:52] #6756 closed

[2022-08-22 09:09] janahintal commented on #6726
This issue is now resolved. Verified in https://main-enterprise.demo.design.infor.com/components/applicationmenu/example-index.html?theme=classic&mode=light&colors=2578a9 and in all sample pages
https://main-enterprise.demo.design.infor.com/components/applicationmenu

[2022-08-22 09:21] janahintal commented on #6753
This issue is now resolved. Verified in https://main-enterprise.demo.design.infor.com/components/datagrid/example-tooltips.html?theme=classic&mode=dark&colors=2578a9
![image](https://user-images.githubusercontent.com/45757016/185886551-1c003b1b-5edd-4f67-87f7-ee84f90a08d4.png)

[2022-08-22 09:39] glenlieorillo commented on #6756
QA tested and passed.
https://main-enterprise.demo.design.infor.com/components/datagrid/example-editable.html

https://user-images.githubusercontent.com/102151352/185890671-68be0c0e-d6f6-4f9f-82d6-f0d3266ed9a4.mov

[2022-08-22 09:51] glenlieorillo commented on #6763
QA tested and passed.

https://main-enterprise.demo.design.infor.com/components/tag/example-index.html?theme=new&mode=dark&colors=0066D4
<img width="1569" alt="image" src="https://user-images.githubusercontent.com/102151352/185893105-a6c92c6b-42e0-4762-8511-4b98fe06725d.png">

https://main-enterprise.demo.design.infor.com/components/badges/example-index.html?theme=new&mode=dark&colors=0066D4
<img

[2022-08-22 11:36] janahintal opened #6770 "Targeted Achievement: Failed to scroll vertically unless clicked outside the data grid"
**Describe the bug**
Targeted Achievement: Failed to scroll vertically unless clicked outside the data grid

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/targeted-achievement/example-datagrid.html
2. Minimize the screen to responsive view
3. Play around with the Vertical scroll using mouse
Notice that it won't work unless you

[2022-08-22 11:48] jbrcna commented on #6640
QA Passed
v4.67.0-dev
https://main-enterprise.demo.design.infor.com/components/listview/test-listview-zero.html
<img width="778" alt="image" src="https://user-images.githubusercontent.com/56722184/185913807-1d7f4628-173b-461d-aecd-297ab1f13a34.png">

[2022-08-22 13:21] tmcconechy commented on #6770
This is a known issue we cant fix. Its because of the frozen columns at the beginning. So those cant be scroll-led.
Its because of this a case that cant work on mobile very well

[2022-08-22 13:21] #6770 closed

[2022-08-22 13:53] #6759 closed

[2022-08-23 10:09] danielortiz1982 commented on #6749
@ericangeles This issue is next on the priority list after your done with #6634

[2022-08-23 12:26] janahintal commented on #6533
QA Passed. Verified in https://main-enterprise.demo.design.infor.com/components/calendar/test-hide-legend.html
![image](https://user-images.githubusercontent.com/45757016/186157495-4cced2fb-b33a-42df-898a-4839bcef2dc6.png)
![image](https://user-images.githubusercontent.com/45757016/186157578-a6289178-1ec9-4032-acac-7ad8ccd3f8d5.png)

[2022-08-23 13:32] tmcconechy commented on #6725
@guoliang can you test this fix on main. The problem however is it seems the fix cannot be applied to 14.1.x as the same code that was changes wasnt there. So im a bit confused about the versions. Is the bug in 14.1.x or 14.2.x (or both)

[2022-08-23 13:35] tmcconechy commented on #6725
@yohannahbautista would you mind testing this fix out on 4.64.x and 4.65.x tomorrow?

[2022-08-23 14:18] #6568 closed

[2022-08-24 02:42] inforrpunay opened #6772 "Scrollbar appears in the search field when browser is resized"
**Describe the bug**
Scrollbar appears in the search field when it collapsed when browser is resized.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'https://design.infor.com/code/ids-enterprise/4.64.0/demo/components/header/example-flex-toolbar.html'
2. Resize the browser window until the search field collapsed
3. Observe that a scrollbar is added in the collapsed search field

**Ex

[2022-08-24 08:08] radovaniljic opened #6773 "Validation/Textarea: Validation breaks when disabling and enabling a Textarea"
**Describe the bug**
In a textarea, if you trigger a validation error (e.g. by leaving a required field empty) and then disabling and enabling it again, the validation breaks and the error doesn't disappear even when the field is valid.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stackblitz.com/edit/ids-quick-start-1411-6q3is3?file=src/app/app.component.html
2. Focus the te

[2022-08-24 13:12] tmcconechy commented on #6772
This is a duplicate of https://github.com/infor-design/enterprise/issues/6705 and its been patched in [4.64.6](https://www.npmjs.com/package/ids-enterprise/v/4.64.6) add fixed in the latest version

[2022-08-24 13:12] #6772 closed

[2022-08-24 18:07] #6750 closed

[2022-08-25 10:43] yohannahbautista commented on #6725
@tmcconechy @ericangeles
Hello, I checked the page with both versions and it looks like it works in my end

[2022-08-25 13:08] guymid opened #6781 "DataGrid expanded row cannot be edited after two editing scenarios on the parent row"
**Describe the bug**
When the parent row of an expanded row contains editable fields they interfere with the editability of inputs in the expanded row. This is a defect with the state handling where the exit states from fields in the parent row are incorrect. If line 107486 of sohoxi.js is commented out the editability of the input in the expanded row is correct, but the input in the parent row is

[2022-08-25 13:13] tmcconechy commented on #6781
Nice bug report. I think we can fix this. But there was'nt the general idea that editing would take place in the expandable row.
Might be better to put that editor in a column (not knowing the full use case)

[2022-08-25 13:16] tmcconechy commented on #6725
Ok, Thanks. I had patched your fix in 4.65 but in 4.64 i wasnt able to. BUt the team is OK with 4.65 so i think we can close this again

[2022-08-25 13:16] #6725 closed

[2022-08-25 13:27] guymid commented on #6781
In this case the expandable row is for viewing and editing the description of an item. As the description can be quite long it doesn't fit in the main grid.

[2022-08-25 15:23] anhallbe opened #6782 "Datagrid: Grid in modal is too wide"
**Describe the bug**
When a datagrid is rendered in a modal, it is much wider than expected.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://anhallbe.github.io/ids-repro/datagrid-dialog
2. Click on 'Open Dialog'
3. Notice the wide modal/datagrid
4. Extra: Resize the window
5. Modal/Datagrid is now the correct size

Repro code here: https://github.dev/anhallbe/ids-repro/blob/ma

[2022-08-25 15:27] tmcconechy commented on #6782
hi @yohannahbautista here is another case of https://github.com/infor-design/enterprise/issues/6725 (mostly likely a second issue). Can you take a look at this please?

cc @ericangeles

[2022-08-25 16:31] tmcconechy commented on #5452
Closing this in favor of https://github.com/infor-design/enterprise-wc/issues/889 more details coming soon there.

[2022-08-25 16:31] #5452 closed

[2022-08-25 17:33] #6746 closed

[2022-08-26 09:13] anhallbe opened #6783 "Datagrid: rowHeight option cannot be set/changed after grid has been created"
**Describe the bug**
When changing the "rowHeight" datagrid option on a grid that has already been created, the change is not reflected in the grid

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://anhallbe.github.io/ids-repro/datagrid-short
2. Click on 'Apply rowHeight: short' button
3. Notice that the grid is not changed

Repro code: https://github.com/anhallbe/ids-repro/tree/

[2022-08-26 09:15] anhallbe commented on #6783
Possibly related to #6782 as the issue started with the same version upgrade

[2022-08-26 11:50] guymid opened #6784 "DataGrid: Custom editors in Angular not working"
**Describe the bug**
There is an example of a custom editor in the JavaScript examples (test-custom-editor) but none in Angular. I tried to apply the JavaScript approach in Angular but could not get it to work. I also tried using an Angular component. This partially works but behavior is erratic and the edit state of the cells are not reverted after leaving the cell.

As the issue with the edit st

[2022-08-26 13:28] tmcconechy commented on #6784
I just want to point out that...

a) the editors do generally work as here is an example https://main-enterprise.demo.design.infor.com/components/datagrid/test-custom-editor.html
b) trying the JS approach example i am seeing an error that indicates you might have missed a function in the editor...

You do need to implement all of these functions https://github.com/infor-design/enterprise/blob/main

[2022-08-26 14:12] tmcconechy commented on #6783
This case was probably https://github.com/infor-design/enterprise-ng/commit/91a57ba9ba6d09a90650c393f0da5b2094755490 as i can do it in the enterprise repo https://main-enterprise.demo.design.infor.com/components/datagrid/example-index.html

Investigating now

[2022-08-26 17:02] tmcconechy commented on #6783
@anhallbe im confused about a couple of things and wondering if this "fix" would be acceptable.

1. `this.grid.rowHeight = 'short'` will work because there is an input for `rowHeight`
2. In the older versions `this.grid.updated();` didnt seem to be there? (tested back to 13.x) Was it just something you were trying?
3. I cant workout how to make `this.gridOptions.rowHeight = 'short'` to work becaus

[2022-08-26 17:07] tmcconechy commented on #6783
cc @ericangeles for feedback

[2022-08-26 17:24] lipetzan opened #7159 "Design: Design and Development of Capable and Optimized form field input"
Landmark end-users are needing a more capable form field input that allows for both type-ahead look-up, with inline results in a drop-down as well as an "advanced search" capability that launches a more involved and capable lookup modal.

Today we ONLY have an "advanced search" capability.

This is a less clicks and less drag issue that adds up across many fields on many forms, esp when used 8 hou

[2022-08-29 05:31] guymid commented on #6784
I've updated my JavaScript example with the missing functions but that does not change the error or the behavior.

Even though the test-custom-editor example proves that the custom editor works in JavaScript, the implementation in TypeScript has to be different and my attempt does not work. Maybe it's my approach that's wrong, or maybe it's something with how the TypeScript code layers over the Ja

[2022-08-30 05:50] AnjaniSravyaInfor opened #6785 "Restrict accordion default behavior"
I am using soho-accordion in a sidebar menu and When I am navigating between the panes in soho accordion I need to restrict the accordion to expand because I am using canDeactivate route guard in angular to confirm whether the user wanted to navigate out of the current page or not. I am able to restrict the user navigation with canDeactivate route guard where as unable to restrict the accordion de

[2022-08-30 09:02] radovaniljic commented on #6782
This seems to be caused by which property you bind to; binding to `gridOptions` works fine while binding to `columns` doesn't work, i.e.:

![image](https://user-images.githubusercontent.com/63045013/187395483-8628e7fa-f0f1-4112-ab71-79b1d7cb7114.png)

![image](https://user-images.githubusercontent.com/63045013/187395221-a339ce42-175a-48b1-b1f8-ec60ab31a166.png)

![image](https://user-images.github

[2022-08-30 11:26] ericangeles commented on #6782
Thanks, @radovaniljic for this. @tjamesallen15 can you take a look further?

[2022-08-30 12:45] bthibodeau7 opened #6787 "Datagrid - Mixed Case sort has irregular results"
In TWLOM, when sorting by Carrier the sort results do not make any sense.  Do not appear alpha or numeric.

1.  SASTT - Ship Via. Set up the following ship-via's, 01, 07, 09PT, 32, 45PT, 1SHP, 405.

2.  OEET - Enter an order for each one of the Ship-Via's using a product with quantity available.  Print to TWL

3.  TWLOM - Select to View All. Search.  Sort by Carrier by clicking on the up and down

[2022-08-30 12:52] radovaniljic commented on #6783
`this.grid.rowHeight = "short"` and using the `rowHeight` input works fine so we'll ask the widget developers to use one of these approaches if they want this issue fixed asap.

As you said, `this.gridOptions.rowHeight = "short"` doesn't work on its own since there are no nested input/setters on `gridOptions` and would require some kind of manual update, but again as you said - `grid.updated()` do

[2022-08-30 13:18] tmcconechy commented on #6785
Can you use the template for the issue https://github.com/infor-design/enterprise/issues/new/choose (filling in the sections as mentioned). You can edit this one and use the same markdown.

Just to clarify what would work here? A callback before the expand and collapse on the accordion that can be vetoed? If you try this event it should work: https://github.com/infor-design/enterprise/blob/main/sr

[2022-08-30 13:29] tmcconechy commented on #6787
@bthibodeau7 I'm afraid i dont know what all these abbreviations mean. Can you put the issue in terms of how our components would understand?

I guess if i understand we should be able to reproduce this if we use the same data and do a sort? If so can we get some sample data in JSON format to use or an example?

I guess we can try to create this.. But it would speed the issue up

[2022-08-30 13:38] tmcconechy commented on #6783
@radovaniljic it is a little confusing `updated` was added after the version you are supposed to be on so im wondering how this code every worked https://github.com/anhallbe/ids-repro/blob/master/src/app/datagrid-short/datagrid-short.component.ts#L46-L47 and if you can confirm it did n what version?

Can i fix it by making `this.gridOptions = { ...this.gridOptions, rowHeight: "short" }` work? Or s

[2022-08-30 14:10] #6782 closed

[2022-08-30 14:44] radovaniljic commented on #6783
I think you can ignore [this (the `updated`-approach](https://github.com/anhallbe/ids-repro/blob/master/src/app/datagrid-short/datagrid-short.component.ts#L46-L47).

We will tell the widget developers that they can use  `this.grid.rowHeight = "short"` as a workaround but it would be nice if you could make `this.gridOptions = { ...this.gridOptions, rowHeight: "short" }` work since this worked befor

[2022-08-30 15:32] CindyMercadoReyes commented on #6533
BDD attached.
[BDDStory_github_6533.docx](https://github.com/infor-design/enterprise/files/9454249/BDDStory_github_6533.docx)

[2022-08-30 16:00] tmcconechy commented on #6783
Just FYI I tried 13.3.x and it gives this:

[code]

[2022-08-30 17:56] tmcconechy commented on #6783
Found the bug https://github.com/infor-design/enterprise/pull/6788 i think this is the root cause and should fix the `updated` case. I noticed the updated was in 14.1.x

[2022-08-30 18:57] jayblack-infor opened #6789 "General: IDS throwing error in console"
**Describe the bug**
Kind of hard to explain but I’ll give it a try.  We have run into an issue where IDS is throwing an error that only appears in the console.   We open our angular application (it’s in a js file) and close it.    Reopen that application or another of our angular applications and when the user types in a text field an error is thrown.

The application where the occurs occurs (the

[2022-08-31 03:43] tjamesallen15 commented on #6533
Yes

[2022-08-31 06:12] jbrcna commented on #6568
QA Passed
https://main-enterprise.demo.design.infor.com/components/calendar/test-legend-day-week-shading.html
<img width="537" alt="image" src="https://user-images.githubusercontent.com/56722184/187606461-81adaa90-1952-4291-a5fc-70634f74cdc2.png">
<img width="535" alt="image" src="https://user-images.githubusercontent.com/56722184/187606476-f2726918-fc38-429a-bb46-8d3b62c38920.png">
<img width="53

[2022-08-31 13:25] #6783 closed

[2022-08-31 13:36] #6685 closed

[2022-08-31 14:11] EdwardCoyle commented on #6760
I reviewed the current/previous behavior of the App Menu's animation just to get some clarity on it historically:

- The animation is "slower" in newer versions, since 4.64
- In 4.63 and previous versions (back to 4.59): https://4590-enterprise.demo.design.infor.com/components/applicationmenu/test-six-levels.html
- In 4.58, the animation is "slower" just like in more recent versions, all the way b

[2022-08-31 23:23] #6789 closed

[2022-09-01 03:23] jbrcna commented on #6746
QA Passed
https://main-enterprise.demo.design.infor.com/components/datagrid/test-addrow-with-is-editable.html
<img width="1611" alt="image" src="https://user-images.githubusercontent.com/56722184/187825068-b1e7b946-260c-4e64-a25a-8a1b3c584162.png">

[2022-09-01 03:37] inforrpunay opened #6793 "Suppress Enter = true do not work on SohoModal"
**Describe the bug**
Using the suppressEnterKey setting for modal does not work on the succeeding use of enter key for the modal. This happens if you opened and closed another modal with suppressEnterKey=false.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://design.infor.com/code/ids-enterprise/4.64.0/demo/components/modal/example-index.html.
2. Click on the Show Modal (Suppre

[2022-09-01 07:33] NicholTamayo opened #6794 "Editor: Block quote format not entered in the next line after pressing <Enter>"
**Describe the bug**
Observed that the block quote format is not displayed in the next after pressing <Enter>.
Not encountered in Homepages version 2022.04.00 with IDS version 4.59.4.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://design.infor.com/code/ids-enterprise/latest/demo/components/editor/example-index?theme=uplift&variant=light.
2. Enter text.
3. Select the text.
4. C

[2022-09-01 09:33] radovaniljic commented on #6783
@tmcconechy `updated` works now, but would it be possible to make
`this.gridOptions = { ...this.gridOptions, rowHeight: "short" }` work too? The widgets that are affected by this issue use that approach.

[2022-09-01 12:41] glenlieorillo commented on #6685
QA tested and passed.

**_Before fix:_**
https://4550-enterprise.demo.design.infor.com/components/editor/example-with-backcolor.html

https://user-images.githubusercontent.com/102151352/187915694-678bdc05-aa5f-4980-8aae-84be0511b67d.mov

**_After fix:_**
https://main-enterprise.demo.design.infor.com/components/editor/example-with-backcolor.html

https://user-images.githubusercontent.com/102151352/

[2022-09-01 13:03] janahintal commented on #6783
QA Passed. Verified in https://main-enterprise.demo.design.infor.com/components/datagrid/test-update-row-height.html#
![image](https://user-images.githubusercontent.com/45757016/187920434-51a15580-af8c-43ca-9f16-3ba9dc96b49f.png)

[2022-09-01 13:33] tmcconechy commented on #6783
@radovaniljic does this need another patch or can you use the 2 other ways (as originally reported?)

[2022-09-01 14:00] #6382 closed

[2022-09-01 14:54] radovaniljic commented on #6783
@tmcconechy patch if possible. The thing is that the affected datagrids aren't in our code (Homepages/PortalV2) but rather in widgets that we don't develop, and it would probably take longer to update the widgets than for you to fix and patch it, and it's pretty important for us to get this fixed asap :)

[2022-09-01 16:33] CindyMercadoReyes commented on #6782
This issue is now resolved.

[2022-09-01 16:37] CindyMercadoReyes commented on #6789
This issue is now resolved.

[2022-09-01 17:24] CindyMercadoReyes commented on #6725
This issue is now resolved.

[2022-09-02 09:19] radovaniljic commented on #6783
@tmcconechy this is fully resolved now. Thanks!

[2022-09-02 13:57] tmcconechy commented on #6787
I can "reproduce" it in this example i made...
[test-combo-sort.html.zip](https://github.com/infor-design/enterprise/files/9478412/test-combo-sort.html.zip)

But this seems a bit "custom" I tried the sorting in excel and it works the same:
![Screen Shot 2022-09-02 at 9 55 02 AM](https://user-images.githubusercontent.com/814283/188164116-6a7797a2-84d4-4e5f-b966-1221d5ee3217.png)

We do have the abi

[2022-09-02 14:48] Sovia commented on #6696
It's an error that is occurring deep in the bowels of lmclient code, and I can't easily recreate it in ids code. Since it's a safety check, do you need an example?

[2022-09-02 15:11] tmcconechy commented on #6696
Maybe this change would just solve it `if (!d.icon.is('.icon-dirty')) {` -> `if (!d?.icon?.is('.icon-dirty')) {` @ericangeles ?

[2022-09-06 11:12] #6721 closed

[2022-09-06 14:28] hwondergem commented on #6752
Hi, feedback from the translator:
"The standard way of translation for “Previous” in these kind of contexts is “Nazaj” (i.e., as it is already). This is both gender and number neutral, since it is often not known what the subject will be (i.e., previous what?). So, unless it is known what the previous thing is and that this particular instance of “previous” will only be used here (where the gender

[2022-09-06 14:38] tmcconechy commented on #6752
Ok @hwondergem i think for purposed of the component library we should translate this as "Database Records" but not anything specific.

However, for the team in this case (since its on a header and not the datagrid or a list of records) they could request a specific translation for the type of object for the app?

Does the current translation match to something generic like "Database Records"?

[2022-09-06 14:46] cpinatel7 commented on #6752
Additional screenshot - to be reviewed by SL linguist:
![image](https://user-images.githubusercontent.com/66057969/188665411-03e7d948-03bb-48ac-b5c8-13b5da61e889.png)

Are your Previous and Next strings always used in the same context?

[2022-09-06 14:49] tmcconechy commented on #6752
yeah i guess so they are just previous and next from the context of a generic pager https://main-enterprise.demo.design.infor.com/components/pager/example-datagrid.html where we dont really know what data is in the pager.

These look like your moving through records on on a header but same idea. I guess you could translate it for what your moving through but we would never know so need to keep it

[2022-09-06 14:52] cpinatel7 commented on #6752
I don't speak SL but in this case, translations should be neutral (i.e. not gender specific).
Ideally, Next should be Next Record and Previous should be Previous Record. This will avoid future translation issues.
Thanks

[2022-09-06 14:57] tmcconechy commented on #6752
Sounds like it is that way from @hwondergem 's comment:

`This is both gender and number neutral, since it is often not known what the subject will be (i.e., previous what?)`

[2022-09-06 14:58] cpinatel7 commented on #6752
Would it be possible to change the English strings at some point?
i.e.
Next -> Next Record
and
Previous -> Previous Record

[2022-09-06 14:59] tmcconechy commented on #6752
Yes, @cpinatel7 if you think that makes sense for "any pager next/previous no matter what the data"? I can do that, think here as one example https://main-enterprise.demo.design.infor.com/components/pager/example-datagrid.html but also on that header as that team has done

[2022-09-06 15:20] cpinatel7 commented on #6752
No changes required for:
(context is clear)
![image](https://user-images.githubusercontent.com/66057969/188672507-9277996f-4dab-4c3d-bec0-b4087585960c.png)

I cannot see Previous and Next on https://main-enterprise.demo.design.infor.com/components/pager/example-datagrid.html

I think there are 2 options:
1. Source text changes: Next -> Next Record and Previous -> Previous Record
2. If 1. is too ri

[2022-09-06 15:40] cpinatel7 commented on #6752
Thanks

[2022-09-06 20:19] jvang01 opened #6799 "Datagrid: Colorpicker parts are misaligned"
**Describe the bug**
Colorpicker parts are not properly aligned for datagrids with default sized rows and datagrids with class 'small-rowheight'.
1.  the dropdown icon overlaps with the color swatch (screenshots 1 & 2)
2.  for standard sized rows, clicking on the colorpicker causes the swatch, value and dropdown icon to all move down and to the right For small-height rows, colorpicker parts move u

[2022-09-06 20:49] bthibodeau7 commented on #6787
@tmcconechy How do you make your own sort function?  This is an example of the way they thing it should sort which is how Excel sorts it:
<img width="55" alt="image" src="https://user-images.githubusercontent.com/112414262/188734870-eb83ce10-c8ad-4ab2-87a9-38c5d65c0f4e.png">

This is what the column is currently doing:
<img width="51" alt="image" src="https://user-images.githubusercontent.com/1124

[2022-09-07 07:01] #6696 closed

[2022-09-07 11:18] ericangeles commented on #6799
It looks like this issue has been for a while now. I think to fix it, the caret/trigger icon should be on the right portion of the row and not over the color picker.

[2022-09-07 11:21] ericangeles commented on #6799
Tagging it as `3` because there are a lot of areas that should be considered to fix it. (Row heights for intance)

[2022-09-07 13:45] tmcconechy commented on #6799
I think this will be fixed by https://github.com/infor-design/enterprise/pull/6755 but this didnt make the current release.

[2022-09-07 13:59] dhumalkishor opened #6800 "Datepicker: Add ability to add new custom buttons in date picker"
**Describe the Enhancement**
Provide the ability to add new custom buttons in date picker monthview model popup. We need to add buttons like "Clear" and "Never Expire".  We currently do this by overriding the sohoxi.js but this is not sustainable.

<img width="576" alt="Never_Expires" src="https://user-images.githubusercontent.com/42198413/188897282-ec22fb52-f8f5-4075-9196-920fb1958fa0.png">

**Ex

[2022-09-07 19:28] bthibodeau7 commented on #6787
I would think any time a field is alpha numeric it would search the same as Excel does.

[2022-09-07 19:37] jvang01 commented on #6799
@tmcconechy, @ericangeles, @yohannahbautista, the behavior of the colorpicker in the datagrid seems broken.  It will not allow you to click on the input and type in a value.  However, it will allow you to type in a value if you tab to the cell from an adjcent cell.  But even then the value will not register a change to the colorpicker.
![colorpicker-issues-in-datagrid](https://user-images.githubus

[2022-09-07 20:08] tmcconechy commented on #6799
understood @jvang01 it should be fixed soon when https://github.com/infor-design/enterprise/pull/6755 is done. Its all messed up right now

[2022-09-08 03:13] maezcruz opened #6801 "Unit Testing: Create a Puppeteer Script for "Color Palette (color.scss): Create IDS status color classes targetting color, border-color CSS properties""
Describe the Issue
Create a unit testing for "Color Palette (color.scss): Create IDS status color classes targetting color, border-color CSS properties".

See attached BDD for more information.
[BDD_github#6711.docx](https://github.com/infor-design/enterprise/files/9523290/BDD_github.6711.docx)

Related github issue
#6711

[2022-09-08 13:01] ericangeles commented on #6800
@tmcconechy, do we need to align this with the designers?

[2022-09-08 13:28] tmcconechy commented on #6800
I dont think so but will put it in grooming. All it is changing the button text/operations, no visual changes. But i consider it low priority due to being a workaround

[2022-09-08 13:59] ericangeles commented on #6800
Agree

[2022-09-08 14:05] tmcconechy opened #7386 "IdsAppMenu: Module Switcher new Component"
**Is your feature request related to a problem or use case? Please describe.**
Add a new side bar view to the app menu. This will encourage teams to simplify the navigation experience

https://www.figma.com/proto/bL4EBYtWjgfBsvTVI9seXU/branch/eHul2nKNMdypFLSb55ZwR1/Application-Menu?page-id=3185%3A78&node-id=3185-6970&viewport=-726%2C826%2C0.5&scaling=scale-down&starting-point-node-id=3185%3A6954

[2022-09-08 14:58] tmcconechy commented on #6787
Here is the example test case i came up with
[test-combo-sort.html.zip](https://github.com/infor-design/enterprise/files/9527986/test-combo-sort.html.zip)

[2022-09-08 16:05] pwpatton opened #6802 "Datagrid: Need extra class setting for adding a class to the new datagrid icon tooltip"
This is releated to: Datagrid: Add ability to have an icon on the datagrid header with a tooltip #6490

**Is your feature request related to a problem or use case? Please describe.**
For the new icon tooltip (#6490) we need an "extraClass" setting that is added to the .tooltip element so we modify the css for the tooltip to make it more readable for longer sections of text.

**Describe the solutio

[2022-09-08 16:17] tmcconechy commented on #6802
We only had added `headerCssClass` so that i guess would not work in this situation. Maybe `headerTooltipCssClass` would match for names to this.

[2022-09-08 16:21] pwpatton commented on #6802
I wouldn't want to regular tooltip to take on our styling for this icon tooltip tho.

[2022-09-09 11:53] glenlieorillo opened #6806 "Sink Page: Popover - incorrect placement of the 'Apply' button"

[2022-09-09 12:03] glenlieorillo opened #6804 "Sink Page: Popover - incorrect placement of the 'Apply' button"
**Describe the bug**
'Apply' button in the popover was placed incorrectly.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://4671-beta0-enterprise.demo.design.infor.com/#
2. Go to Popover
3. Click on 'Click To Show Popover' button
4. See error

**Expected behavior**
'Apply' button should be in the correct placement.

**Version**

- ids-enterprise: 4671-beta0

**Screenshots**
<im

[2022-09-09 13:01] ericangeles commented on #6804
Looks like the `.demo-popover` CSS rules were missing.

[2022-09-09 13:26] SofiK opened #6805 "About: minor issue with mobile and cookie values are not translated"
**Describe the bug**
A minor issue with the mobile and cookie values are always shown as true or false. I assume these should perhaps be changed to yes and no and also be translated to other languages. Or if true/false then it should be "sant"/"falskt" in Swedish

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/about/example-inde

[2022-09-09 13:38] tmcconechy commented on #6805
Do we think these informations are even valuable? I have to already remove the OS information as chrome is no longer going to provide it at some point could also trim some of this other stuff out.

[2022-09-09 13:39] tmcconechy commented on #6806
Moved it :) Seems minor in the example

[2022-09-09 13:40] tmcconechy commented on #6806
Duplicate of https://github.com/infor-design/enterprise/issues/6804

[2022-09-09 13:50] SofiK commented on #6805
I am not sure maybe they are not needed. I will check with the team and see what they say.

[2022-09-09 14:49] ericangeles opened #6807 "Typography: Text link color is incorrect in Dark mode"
**Describe the bug**

With the recent color/token changes particularly in dark mode, the `.text-link` color is incorrect in dark mode.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to http://localhost:4000/components/typography/example-index.html?theme=new&mode=dark&colors=0066D4
2. Under `Typographic Characteristics (class)` find `Link Text (text-link)`
3. The `.text-link` class color

[2022-09-11 11:45] MariaBashir995 opened #6808 "TypeError: Cannot read properties of undefined (reading 'email') (onadd note option for my note taking app)"
**here is my code and error is in line 10**
[code]

[2022-09-12 02:50] maezcruz opened #6809 "Unit Testing: Create a Puppeteer Script for "Calendar: Day Shading and Day Legend required in Week and Day view (already present in Month view)""
Describe the Issue
Create a unit testing for "Calendar: Day Shading and Day Legend required in Week and Day view (already present in Month view)".

See attached BDD for more information.
[BDDStory_github6568.docx](https://github.com/infor-design/enterprise/files/9544252/BDDStory_github6568.docx)

Related github issue
#6568

[2022-09-12 02:52] maezcruz commented on #6809
Cc: @CindyMercadoReyes

[2022-09-12 02:53] maezcruz opened #6810 "Unit Testing: Create a Puppeteer Script for "Calendar: Request for exposing a boolean to show/hide the legend""
Describe the Issue
Create a unit testing for "Calendar: Request for exposing a boolean to show/hide the legend".

See attached BDD for more information.
[BDDStory_github#6533.docx](https://github.com/infor-design/enterprise/files/9544259/BDDStory_github.6533.docx)

Related github issue
#6533

[2022-09-12 03:47] sanjeewasap opened #6811 "DataGrid - Save settings sort is not working with pager"
**Describe the bug**
In SOHO data grid when save settings enabled, if we do paginate and refresh the browser, it always loads first page data. The paginator page number is correct. But data is sorted wrong.

Use following links.
https://main-enterprise.demo.design.infor.com/components/datagrid/test-save-settings.html
https://main-enterprise.demo.design.infor.com/components/datagrid/test-save-setti

[2022-09-12 08:08] martinabdulghni opened #6812 "Datagrid: date-icon does not show in datagrid columns."
Hi,

My date columns does not show the datepicker-icon. It works fine on other icons, such as 'time'.

date column: (does not show date-icon)
`{ id: 'startDate', name: '', field: 'startDate', sortable: false, filterType: 'date', formatter: Soho.Formatters.Date, dateFormat: 'yyyyMMdd' }`
<img width="153" alt="image" src="https://user-images.githubusercontent.com/95101987/189603125-ce062631-fc79-433

[2022-09-12 09:37] ericangeles commented on #6812
I don't see any problem with this example that has `filterType: 'date'` in this example https://4640-enterprise.demo.design.infor.com/components/datagrid/test-editable-datetime.html

[2022-09-12 09:42] ericangeles commented on #6811
Both links are working when I followed your steps. I also play around with the filters and both sample pages work.

[2022-09-12 10:54] glenlieorillo commented on #6696
QA validated and passed.

![image](https://user-images.githubusercontent.com/102151352/189636007-c6b68e57-63ec-4bba-b7c2-b30dc9be05a7.png)

<img width="1007" alt="image" src="https://user-images.githubusercontent.com/102151352/189636377-4c89cdcc-d991-488c-a633-47c18b69360e.png">

[2022-09-12 11:05] jbrcna opened #6813 "Datagrid: expandable-row-one-only animation circle cut off"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/datagrid/example-expandable-row-one-only.html
2. Click on + icon
3. See error

**Expected behavior**
animation circle should be full and not cut off

**Version**

- ids-enterprise: v4.671-beta0

**Screenshots*

[2022-09-12 11:38] ericangeles commented on #6811
I've also tested it on Windows 10 & 11 Chrome (via BrowserStack) it's working too.

[2022-09-12 13:13] tmcconechy commented on #6811
@ericangeles i updated the steps. You need to sort but this was not mentioned on this issue but was when i discussed it with @sanjeewasap

[2022-09-12 13:15] tmcconechy commented on #6812
I cant reproduce it either @martinabdulghni

[2022-09-12 13:19] tmcconechy commented on #6808
@MariaLogic5 I really dont understand this issue. Is this in the right place as it mentions one note? Please try to clarify what your looking for here and if this is an IDS bug?

1. https://github.com/infor-design/enterprise/issues/new/choose use the bug template and fill in all sections
2. Provide an example so we can see the error https://stackblitz.com/edit/ids-quick-start-1411

[2022-09-12 13:54] martinabdulghni commented on #6812
My bad, I am using enterprise-ng and not enterprise.

[2022-09-12 13:54] #6812 closed

[2022-09-12 16:28] bthibodeau7 commented on #6787
@tmcconechy  I am in Support and not a programmer.  I just need to know if this can be fixed.  I know there is a way to set your sort but that is the issue, sorting by asc or dsnd does not seem to put them in the right order.

[2022-09-12 16:30] tmcconechy commented on #6787
It's probably possible to fix. We have to work through it and make sure. Its accepted into the backlog

[2022-09-13 12:40] gilbugauisan opened #6816 "Datagrid: Request to put a null guard on specific line of code (see screenshot) to avoid undefined error"
**Describe the bug**
When the tree list is not yet loaded into the grid, soho is returning an undefined error caused by accessing an undefined element from the grid.

**To Reproduce**
Can't reproduce in ids local build since it's an application specific scenario where asynchronous operations are involved. See screenshots.

**Expected behavior**
A clear and concise description of what you expected

[2022-09-13 13:41] tmcconechy commented on #6816
@ericangeles lets just add the guard even tho we cant reproduce

[2022-09-14 04:26] glenlieorillo opened #6817 "Demo App: Example page icons are in blue"
**Describe the bug**
All the icons of the example page are in blue.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/list
2. Click on any component with an example page
3. See error

**Expected behavior**
Example page icons are in blue, it should be red.

**Version**

- ids-enterprise: 4.68.0-dev

**Screenshots**

**Main:**
![ima

[2022-09-14 13:50] mikolajmazurek3 opened #6819 "Splitter: Not working fine when we dynamically change the container height"
**Describe the bug**
The layout that I am trying to implement is very similar to this stackblitz that I created: https://stackblitz.com/edit/ids-quick-start-1421-vhs139?file=src%2Fapp%2Fapp.component.ts
Splitter component is not working fine when I dynamically change the height of container where the splitter is (by hiding blue **div** in javascript code). It somehow keep the original height and i

[2022-09-14 13:51] tmcconechy commented on #6745
App menu is resolved and take off
Waiting on designs for signing and masthead where it has a logo, but can be swapped with any customer / custom logo

[2022-09-14 14:34] mikolajmazurek3 opened #6820 "Accordion and Card component: Expanding/collapsing accordion is closing all cards on the UI"
**Describe the bug**
When I use accordion and card component on the same page I am facing strange issue. Opening or closing accordion component triggers collapsing all cards that are present on the UI. I prepared very simple stackblitz(https://stackblitz.com/edit/ids-quick-start-1421-4f29vv?file=src%2Fapp%2Fapp.component.html) where I have accordion with four items and two cards that are expandabl

[2022-09-14 15:25] #6801 closed

[2022-09-14 15:37] tmcconechy commented on #6817
You can see there is a 404 error and thats why it does this.
[code]

This comes from https://github.com/infor-design/enterprise/blob/main/package.json#L38 so maybe either this is not running or this file is not being copied when deployed. Either way probably need @corpulent to check it out

[2022-09-14 18:31] claudenbach opened #6821 "Datagrid: allow beforeCommitCellEdit event to be sent when using Editors.Fileupload"
**Is your feature request related to a problem or use case? Please describe.**
Implementing a feature in Landmark to allow a user to perform a file upload from within a cell of the datagrid.  Request is to allow the beforeCommitCellEdit event to be sent when using the Editors.Fileupload so that the File object from the File API can be accessed.

**Describe the solution you'd like**
Update the func

[2022-09-14 18:37] claudenbach commented on #6821
[FileUpload-Before-Commit-Edit.zip](https://github.com/infor-design/enterprise/files/9568979/FileUpload-Before-Commit-Edit.zip)

[2022-09-15 07:51] jbrcna commented on #6678
QA Failed
v4.68.0-dev
https://main-enterprise.demo.design.infor.com/components/datagrid/test-editable-trigger-fields.html
icons are not centered in classic view with different heights
`small row height - classic`
<img width="612" alt="image" src="https://user-images.githubusercontent.com/56722184/190345106-0de65412-d0fa-4a03-9841-95ef0411b016.png">
also when you click to focus there's a red line i

[2022-09-15 13:16] tmcconechy commented on #5907
@tjamesallen15 also see the issue here:

1. https://main-enterprise.demo.design.infor.com/components/datagrid/example-editable.html
2. Make a cell blank so the error shows
3. Hover the tooltip -> notice it constantly blinks

[2022-09-15 14:23] danders17 opened #6826 "Checkbox: Label not wrapping at end of column with both page-container and form-responsive classes included on page"
**Describe the bug**
Checkbox label is not wrapping if the column size is smaller than length if both page-container and form-responsive classes are used on the page

**To Reproduce**
Got to sample at https://main-enterprise.demo.design.infor.com/components/checkboxes/example-index.html and change column to one-column and add form-responsive tag to the row.  The checkbox labels do not wrap.  If re

[2022-09-15 14:23] tmcconechy commented on #4596
Closing as this was implemented https://main-enterprise.demo.design.infor.com/components/datagrid/example-header-icon-with-tooltip.html

[2022-09-15 14:23] #4596 closed

[2022-09-15 14:26] tmcconechy commented on #4605
While we didnt actually fix this in the new version https://main.wc.design.infor.com/ids-date-picker/example.html the space is a little less with the optional buttons removed.

[2022-09-15 14:26] #4605 closed

[2022-09-15 14:28] tmcconechy commented on #5207
In the new version the circle pager is now "scroll view" https://main.wc.design.infor.com/ids-scroll-view/example.html should do most of this

[2022-09-15 14:28] #5207 closed

[2022-09-15 14:53] #6821 closed

[2022-09-19 05:34] #6810 closed

[2022-09-19 11:27] glenlieorillo opened #6831 "Toolbar Flex: Overlapping issue"
**Describe the bug**
Search bar and other fields are overlapped.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/toolbar-flex/example-toolbar-flex-with-searchfield-in-center.html
2. Notice the search bar
3. See error

**Expected behavior**
Search bar and other fields should not overlap.

**Version**

- ids-enterprise: 4.68.0-dev

[2022-09-19 12:33] janahintal opened #6832 "Monthview: Restricted month selection is not working as expected"
**Describe the bug**
Monthview: Restricted month selection is not working as expected

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/monthview/test-restrict-month-selection.html
2. Click the <> button
3. And try to select using the calendar button

**Expected behavior**
Should restrict month selection

**Version**
4.68-ids-dev

[2022-09-19 13:17] tmcconechy commented on #6832
FYI this example is set to:

[code]

Seems like it's working to me? Can you clarify the steps?

[2022-09-19 18:30] tmcconechy commented on #6359
Where you able to add more info on this? @manjaripalavancha

[2022-09-19 20:10] claudenbach opened #6834 "Datagrid: the position of the dropdown list from filter row is incorrect"
**Describe the bug**
When clicking on a dropdown from the filter row the dropdown list is incorrectly positioned.  Issue occurred when we moved from 4.64 to 4.67.

**To Reproduce**

Steps to reproduce the behavior:
1. Using the attached 'test-multiple-grids-in-tab.html'
2. Click on 'Top Bottom' tab
3. From the bottom grid, click on Filter icon from the toolbar
4. Click the dropdown for the Multipl

[2022-09-19 20:12] claudenbach commented on #6834
[Git#6834.zip](https://github.com/infor-design/enterprise/files/9602083/Git.6834.zip)

[2022-09-19 20:21] claudenbach commented on #6834
Attaching a .gif file showing what Landmark is experiencing when using ids-enterprise v4.67.

![PositionDropdownLandmark](https://user-images.githubusercontent.com/39804038/191109201-f9bab396-0946-4049-b64d-b0c9820a57d2.gif)

[2022-09-19 20:22] claudenbach commented on #6834
May have been introduced via:
- https://github.com/infor-design/enterprise/commit/250bc5ced8bd6e9de1c435afe076c9a0a5c29fd9
- https://github.com/infor-design/enterprise/commit/98779802f69d6e555280232eded723bf53e03a11

[2022-09-20 01:29] glenlieorillo commented on #6821
QA tested and passed in all browsers.
http://localhost:4000/components/datagrid/test-editable-fileupload-before-commitcelledit.html

https://user-images.githubusercontent.com/102151352/191147340-249c567d-0c0c-4d76-8344-07cb79135f5f.mov

[2022-09-20 10:17] jbrcna opened #6836 "Breadcrumb: flex-toolbar icon cut off"
**Describe the bug**
btn-icon is cut off in mobile when using `new theme`

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/breadcrumb/test-flex-toolbar.html
2. See error

**Expected behavior**
should not be cut off

**Version**

- ids-enterprise: v4.68.0-dev

**Screenshots**
<img width="627" alt="image" src="https://user-images.g

[2022-09-20 15:31] tmcconechy commented on #6834
@ericangeles - the Landmark team is wanting this to be patched in 4.67.0 - can you guys work on this. My suggestion for a fix would be to try to set this right value differently https://github.com/infor-design/enterprise/commit/98779802f69d6e555280232eded723bf53e03a11#diff-23d7e6da9a1a5073004a3a9525c8992ff83283ac207c47b6affd159e6467f641R2049 perhaps only if in RTL mode? If that works?

I am pretty

[2022-09-20 15:36] tmcconechy commented on #6530
@ericangeles - this fix is actually ok but the Landmark team (that asked for it) just realized it broke all their scripts. The problem is this does seem correct. Can we add a new fix (which we can patch to 4.67.0).

Im thinking what we should do is add an ariaDescribedBy setting that can be defined on a column to set the ariaDescribed by to anything i.e.

[code]

But the trick will be that the set

[2022-09-20 17:06] CindyMercadoReyes commented on #6381
Attaching the BDD to this ticket. Thanks, Cindy
[BDD_github_6821.docx](https://github.com/infor-design/enterprise/files/9609853/BDD_github_6821.docx)

[2022-09-20 18:38] tmcconechy opened #6837 "DemoApp: Use FlexBox in Examples"
**Describe the bug**
Most of the demo app uses the old toolbar in the demos which exhibits some errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any page like http://localhost:4000/components/emptymessage/example-index.html
2. Make sure its around the size of the screen shot
3. See error (text is ... and not visible)

**Expected behavior**
Looks better in this case. In order to

[2022-09-21 03:43] glenlieorillo opened #6839 "Week View: Calendar icon alignment issue"
**Describe the bug**
Misaligned calendar icon and text in Firefox.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/week-view/example-index.html, https://main-enterprise.demo.design.infor.com/components/week-view/example-one-day.html, https://main-enterprise.demo.design.infor.com/components/week-view/example-two-day.html and http

[2022-09-21 07:58] #6816 closed

[2022-09-21 07:59] ericangeles commented on #6834
Will take a look.

[2022-09-21 12:58] #6794 closed

[2022-09-21 14:50] #6807 closed

[2022-09-21 16:05] kwolentarski opened #6842 "Non-clearable searchfield not rendering properly on Mac OS Safari"
**Describe the bug**
When using searchfield component with clearable set to false there is a console error while rendering the component on Mac OS Safari:
![image](https://user-images.githubusercontent.com/86295640/191553543-dc525414-ef08-4969-bf6e-3a9cba3c1d8c.png).

Issue probably introduced as part of: https://github.com/infor-design/enterprise/issues/6631

**To Reproduce**

Steps to reproduce

[2022-09-21 21:19] #6834 closed

[2022-09-22 01:10] jbrcna commented on #6807
QA Passed. v4.68.0-dev
<img width="785" alt="image" src="https://user-images.githubusercontent.com/56722184/191636637-8492b307-024c-4de1-8096-33994fb29e37.png">

[2022-09-22 01:15] jbrcna commented on #6794
QA Passed. v4.68.0-dev
<img width="570" alt="image" src="https://user-images.githubusercontent.com/56722184/191637055-ea16e44f-5ef7-4861-bcae-fb45e2942187.png">

[2022-09-22 01:20] sanjeewasap commented on #6811
Thank you @tmcconechy @ericangeles
Any update on this?

[2022-09-22 07:09] FinCheng commented on #5194
@tmcconechy Hi Tim, Do you have any plan to fix this issue, we hit this issue as well.

[2022-09-22 07:51] InforBG opened #6844 "Toolbar Flex: Incorrect destroy function for 'toolbarflexitem' component"
**Describe the bug**
The change in <https://github.com/infor-design/enterprise/pull/6439> fixed a memory leak problem, but create new issue.
The 'toolbarflexitem' component is not destroyed correctly.
Line 22 in https://github.com/infor-design/enterprise/blob/4.67.x/src/components/toolbar-flex/toolbar-flex.item.jquery.js, it should be corrected from
[code]
to
[code]
It is because the data value is

[2022-09-22 11:38] tmcconechy commented on #5194
When we discussed it before we thought the combination was a bit strange and uncommon. Whats the use case?
Can you avoid combining colspan and frozen? And avoid reszing frozen columns?

[2022-09-22 11:39] tmcconechy commented on #6811
We plan too work on it next sprint (Oct - Nov time frame)

[2022-09-22 13:53] kels0 opened #6845 "Count: Misalignment when a user has two count-components when one of the labels are two rows"
**Describe the bug**
Misalignment when a user has two count-components when one of the labels are two rows

**To Reproduce**
Go to this website: https://master-enterprise.demo.design.infor.com/components/counts/example-widget-count.html

Open dev-tools and give one count a long label.

It will then look something like this:
![image](https://user-images.githubusercontent.com/4634476/191765311-f9e33

[2022-09-22 13:56] tmcconechy commented on #6845
Might be able to do something with the flex alignment classes here https://main-enterprise.demo.design.infor.com/components/form/example-align-field-bottoms.html (or flex box in general)

[2022-09-22 13:57] ericangeles commented on #6845
Yeah, my initial fix here is to use flex and add a class for truncation.

[2022-09-22 18:04] CindyMercadoReyes commented on #6816
This issue is now resolved. Moving this ticket to Done.

[2022-09-22 18:11] jayblack-infor opened #6846 "Datagrid: Error with multiselect filter on datagrid"
**Describe the bug**
When trying to filter a datagrid using a multiselect ddlb and you click the dropdown you can't select a value because of an error being thrown.

**To Reproduce**
The error only occurs in angular environment where using shadowdom encapsulation.

**Version**
4.67/14.3.1

**Screenshots**
![image](https://user-images.githubusercontent.com/45010485/191820481-f85cdccf-21b7-4da9-bdeb

[2022-09-23 01:32] sanjeewasap commented on #6811
Ok @tmcconechy. Thank you for the update.

[2022-09-23 01:36] bempedragosa opened #6847 "Locale: addCulture function only adds the first locale entry of the language"
**Describe the bug**
addCulture function only adds the first locale entry of the language and ignores the rest.
Example: 3 locales loaded for zh_TW (en_US, zh_CN, zh_TW)
note: we also load the parent locale which is the zh_CN
- zh_CN locale entry will be added to this.language as zh and zh_CN
- When it's zh-TW turn to be added, it is ignored since it's already present on the this.languages.

**To

[2022-09-23 01:37] jbrcna commented on #6834
this is now working as expected, however the dropdown items are not centered in firefox
<img width="1672" alt="image" src="https://user-images.githubusercontent.com/56722184/191877150-84112f23-b061-4875-a1ef-e725c43bb4c8.png">

`firefox`
<img width="437" alt="image" src="https://user-images.githubusercontent.com/56722184/191877700-eba95cc6-da79-434a-8006-cb4bd0e8eb1c.png">

[2022-09-23 10:21] maezcruz opened #6849 "Unit Testing: Create a Puppeteer Script for "Datagrid: allow beforeCommitCellEdit event to be sent when using Editors.Fileupload""
Describe the Issue
Create a unit testing for "Datagrid: allow beforeCommitCellEdit event to be sent when using Editors.Fileupload".

See attached BDD for more information.
[BDD_github_6821.docx](https://github.com/infor-design/enterprise/files/9632808/BDD_github_6821.docx)

Related github issue
#6821

[2022-09-23 10:21] maezcruz commented on #6849
Cc: @CindyMercadoReyes

[2022-09-23 10:48] ericangeles commented on #6847
What's your use case here @bempedragosa ?

[2022-09-23 12:43] s-werking opened #6850 "Datagrid: Cell color mismatch when editing a cell with alternate shading"
**Describe the bug**
When editing a cell with the darker color of alternate shading, the cell has a mismatch of coloring. This happens for the following theming:
- New Light
- New Contrast
- Classic Contrast

**To Reproduce**
Steps to reproduce the behavior:
1. Add the setting alternateRowShading: true to http://localhost:4000/components/datagrid/example-editable.html
2. Go to http://localhost:400

[2022-09-23 13:30] s-werking opened #6851 "Datagrid: Previously focused date cell is shown after sorting"
**Describe the bug**
When a date cell is selected on an editable table, the date column gets sorted, and a new cell in that column gets selected, the previously selected date is shown again.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:4000/components/datagrid/example-editable.html
2. Click on a date cell
3. Select the date column header to sort
4. Click on any date

[2022-09-23 13:47] tmcconechy commented on #6847
Generally the locals will load if you call `Locale.set('en-US')` and they are setup correctly. Shouldn't be any need to call this internal method directly..

[2022-09-23 13:50] tmcconechy commented on #6850
Probably not as there is a big chunk left of work to do for 4.68 and only less than a week left. But if it all gets done we can try. Slotting it in for next version

[2022-09-23 13:55] tmcconechy commented on #6851
Having a hard time seeing what the bug is here. I tried to edit them all and made them 1-5 and its working correctly but the date values are confusing.

Seems like if i
- click in the field
- sort the date column
- set the sort back too row id like initially

Then it is working. Its sort of like all thats happening is the sorting changes the order.

[2022-09-23 14:01] s-werking commented on #6851
Yeah, I see that the gif is hard to follow. I can go through the steps to reproduce with the table-specific data to help:

2. Click on a date cell (4/3/2015)
3. Select the date column header to sort (Now the cell that was previously selected is sorted correctly and has the value 7/9/2014)
4. Click on any date cell (when this happens the correct date 7/9/2014 is now changed to the previously select

[2022-09-23 14:08] tmcconechy commented on #6851
Oh I see - and this happens on your side too (not just a sample data issue).

[2022-09-23 14:14] s-werking commented on #6851
Yeah, this happens for us too

[2022-09-23 18:37] s-werking commented on #6851
Another scenario that could possibly be caused by the same bug happens when you focus a date cell, reorder the columns, then focus a new date cell. The original cell that was focused is attempted to be filled with the original date regardless of the new column's formatter.

Steps to reproduce:
1. Add columnReorder: true to http://localhost:4000/components/datagrid/example-editable.html
2. Go to ht

[2022-09-23 19:08] tmcconechy commented on #6817
This was fixed on the dev ops side (deployment issue)

[2022-09-23 19:08] #6817 closed

[2022-09-26 06:44] glenlieorillo commented on #6817
QA tested and passed.
Version: 4.68.0-dev

https://user-images.githubusercontent.com/102151352/192210099-46de1825-2aff-4546-af36-be324d1dc34f.mov

[2022-09-26 14:38] tmcconechy commented on #6834
@tjamesallen15 can you take a look

[2022-09-26 14:54] #6793 closed

[2022-09-26 14:55] #6802 closed

[2022-09-27 02:50] glenlieorillo commented on #6799
QA tested and passed.
http://localhost:4000/components/datagrid/test-editable-colorpicker.html

https://user-images.githubusercontent.com/102151352/192420420-e1503641-d207-4f56-af1c-de8a27212dd9.mov

[2022-09-27 03:15] jbrcna opened #6856 "ContextualActionPanel: example markup searchfield and x icon misaligned"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/contextualactionpanel/example-markup.html
2. Click on searchfield
3. See error

**Expected behavior**
should be properly aligned

**Version**

- ids-enterprise: v4.68.0-dev

**Screenshots**
<img width="191" al

[2022-09-27 03:15] jbrcna opened #6857 "ContextualActionPanel: example markup searchfield and x icon misaligned"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/contextualactionpanel/example-markup.html
2. Click on searchfield
3. See error

**Expected behavior**
should be properly aligned

**Version**

- ids-enterprise: v4.68.0-dev

**Screenshots**
<img width="191" al

[2022-09-27 03:29] jbrcna opened #6858 "ContextualActionPanel: example trigger modal is not working"
**Describe the bug**
when you click the button to open the modal, the modal is not displayed

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/contextualactionpanel/example-trigger.html
2. Click on button
3. See error

**Expected behavior**
should display a modal when modal is invoked.

**Version**

- ids-enterprise:v4.68.0-dev

*

[2022-09-27 07:24] InforBG opened #6859 "datagrid-filter-dropdown: Cannot read properties of null (reading 'getBoundingClientRect')"
**Describe the bug**
The change in <https://github.com/infor-design/enterprise/commit/98779802f69d6e555280232eded723bf53e03a11>, line 2046,
[code]
requires the page container must have attribute 'role' and value 'main'.
I wonder if it is mandatory for all web pages? Or can it be change back to original code as below?
[code]
Our web applications doesn't have such attribute value and there will be f

[2022-09-27 11:12] ericangeles commented on #6859
@InforBG `.page-container` is also being used in other sections of the page/s as well so we targeted the role=main attribute.

[2022-09-27 11:17] ericangeles commented on #6856
Duplicate issue https://github.com/infor-design/enterprise/issues/6857

[2022-09-27 11:17] #6856 closed

[2022-09-27 11:24] ericangeles commented on #6859
We can probably use `#maincontent` over `role="main"`.

[2022-09-27 11:47] ericangeles commented on #6809
Closing as this one is already created.

[2022-09-27 11:47] #6809 closed

[2022-09-27 11:53] ericangeles commented on #5857
Assigning to the devs as this one is difficult for the QAs, and we also need to create util for drag and drop functionality for automation.

[2022-09-27 12:07] InforBG commented on #6859
@ericangeles , I think it is fine to for other sections to use `.page-container`.
According to <https://www.w3schools.com/jsref/met_document_queryselector.asp>, `The querySelector() method returns the first element that matches a CSS selector`. So it will always get the web element in outmost. It will ignore the rest web elements within it. This is expected, right?

Unfortunately, our web applicat

[2022-09-27 12:41] #6813 closed

[2022-09-27 13:26] #6530 closed

[2022-09-27 13:38] tmcconechy commented on #6859
Actually i would argue we should keep it as `role="main"` the reason this is selected is this is actually a required element. So i would suggest you add it for better accessibility https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/main_role and it should fix the issue...

In the past any teams with this issue just added the role. But perhaps we could do an order check:

- check

[2022-09-27 15:01] SofiK commented on #6805
Hi Tim, From our side it seems there are no issue to remove that information.

[2022-09-28 00:58] jbrcna commented on #6802
this is now working as expected. moving this ticket to done. thanks

[2022-09-28 01:13] jbrcna commented on #6678
this is now working as expected, thank you
`small row height - classic`
<img width="571" alt="image" src="https://user-images.githubusercontent.com/56722184/192663990-f4847eb9-083e-44fa-ac55-7be421ba931b.png">

`also when you click to focus there's a red line inside the field when using small height`
<img width="574" alt="image" src="https://user-images.githubusercontent.com/56722184/192664134-d46

[2022-09-28 01:36] jbrcna commented on #6813
QA Passed. v4.68.0-dev
<img width="575" alt="image" src="https://user-images.githubusercontent.com/56722184/192667265-b932da01-9b74-4838-a6d3-2aba722dc929.png">

[2022-09-28 02:15] InforBG commented on #6859
I agree with you that adding the `role="main"` is a good option after reading the main_role page. No need to add more checking.
I was just surprised that it still works in v4.61.2 and has issue in v4.67.1. And thought it's a new issue.
This issue can be closed.
Many thanks for your time.

[2022-09-28 03:29] glenlieorillo commented on #6793
QA failed. The bug still exists.
http://localhost:4000/components/modal/example-index.html

https://user-images.githubusercontent.com/102151352/192680361-2c1a7fc5-43e2-432d-b994-78c951c69489.mov

[2022-09-28 04:41] #6859 closed

[2022-09-28 06:19] radovaniljic opened #6860 "Popupmenu: Submenus and submenu items are sometimes incorrectly indented"
**Describe the bug**
Submenus in the popupmenu are sometimes incorrectly indented. It seems to be caused by adding the classes
`has-selectable-submenu` and `is-selectable` (which is done [here](https://github.com/infor-design/enterprise/blob/a619f3c6d6116086a44b03fef07419c30c7abd54/src/components/popupmenu/popupmenu.js#L749) , which was a fix for [this bug](https://github.com/infor-design/enterpri

[2022-09-28 09:44] tjamesallen15 commented on #5907
I can't reproduce this one. Can you show me a video?

[2022-09-28 13:07] tmcconechy commented on #6528
So the solution is to use `Selection: %1` instead of `1 Selected`? This is anywhere with contextual toolbar.

[2022-09-28 13:26] tmcconechy commented on #6752
After discussing this we would like to keep this text is shorter. Can just translate it as if it actually said "page" for the gender?

[2022-09-28 13:32] tmcconechy commented on #5886
Can this be just translated in french as "selection" and we leave the english?

[2022-09-28 13:36] tmcconechy commented on #6800
After discussing we dont think this hyperlink should be there. Suggest using a checkbox next to the field. Thanks

[2022-09-28 13:36] #6800 closed

[2022-09-28 13:49] tmcconechy commented on #5785
Just to confirm would it suffice to show the week number on the calendar on the left side (right side in right to left). On the datepicker popup and monthview.

If so we just need design feedback on placement and color of it. For the single week picker i think we can use dropdowns.

[2022-09-28 13:57] InforBG commented on #6844
Except the problems above, there is another problem about the focusedItem/trueFocusedItem in toolbar-flex.js.
When destroying the toolbar-flex, the focusedItem/trueFocusedItem object is not deleted in toolbar-flex. But the element within the focusedItem/trueFocusedItem are destroyed. So line 168 in toolbar-flex.item.js, `this.element.tabIndex = 0;` in set focused(boolean) function, the `this.eleme

[2022-09-28 14:07] cpinatel7 commented on #6528
Selection: %1
(where %1 is a number)
or
%1 Record(s) Selected

Thanks

[2022-09-28 14:13] cpinatel7 commented on #6752
Next and Previous are not related to Page. They are related to Record i.e. Next -> Next Record and Previous -> Previous Record. I'm not sure why tooltips have to be short:
![image](https://user-images.githubusercontent.com/66057969/192802019-a7b54060-5cff-4a08-8287-cef39dfeb7ba.png)

[2022-09-28 14:28] cpinatel7 commented on #5886
This issue is not specific to French. French is just an example. The word "selected" (one word in English) has multiple translations depending on the context

[2022-09-28 15:16] tmcconechy commented on #5907
@tjamesallen15 try the updated steps above and see https://watch.screencastify.com/v/LM7GW4KuYnQlmCnxKEo2

[2022-09-28 15:26] tmcconechy commented on #6793
@glenlieorillo I tested on https://main-enterprise.demo.design.infor.com//components/modal/example-index.html and it seems ok for me.. Can you test there?

[2022-09-29 04:27] yohannahbautista commented on #6784
@guymid @tmcconechy @ericangeles
Hello, still looking into it, but I found an example page that uses the editor as component approach: http://localhost:4200/ids-enterprise-ng-demo/datagrid-angular-editor

[2022-09-29 10:28] radovaniljic opened #6864 "Editor: Insert Image doesn't work when adding attributes"
**Describe the bug**
Insert Image doesn't work when adding extra attributes to the editor.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stackblitz.com/edit/ids-quick-start-1431-ykiuma?file=src/app/app.component.ts
2. Click on "Insert Image" in the editor toolbar.
3. Enter a valid url to an image, e.g. https://www.infor.com/img/logo-infor.png
4. Click "Insert"

**Expected beh

[2022-09-29 11:08] glenlieorillo commented on #6793
Retested and passed. Moving this ticket to Done.
https://main-enterprise.demo.design.infor.com//components/modal/example-index.html

https://user-images.githubusercontent.com/102151352/193015766-5a4e5f32-227f-497a-a196-8944085b93dc.mov

Thanks, @tmcconechy 😊

[2022-09-29 11:09] jbrcna opened #6865 "Datepicker: month picker highlight issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/datepicker/example-timeformat.html
2. Click on calendar icon of `Date Time Timestamp` field
3. Open month picker
4. See error

**Expected behavior**
blue highlight should not exceed the separator

**Version**

[2022-09-29 13:45] tmcconechy commented on #6865
@jbrcna are you zoomed? Im not seeing it look exactly like that

[2022-09-29 13:56] tmcconechy commented on #6864
Hmm they shouldnt have anything to do with each other. I do see an image is inserted but its just `<img>`. Do you think it could be a cross site issue?

[2022-09-29 14:00] tmcconechy commented on #6784
@guymid does that example help teh source is in the repo:

https://github.com/infor-design/enterprise-ng/blob/main/src/app/datagrid/datagrid-angular-editor.demo.html
https://github.com/infor-design/enterprise-ng/blob/main/src/app/datagrid/datagrid-angular-editor.demo.ts

[2022-09-29 16:02] #6748 closed

[2022-09-29 16:15] s-werking opened #6866 "Datagrid: Icon button is cut off with small rowheight"
**Describe the bug**
When using a new theme and a datagrid with a small rowheight, the top of the icon buttons are cut off.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:4000/components/datagrid/test-icon-buttons.html
2. Select Small row height from the toolbar menu
3. See that the top of the icon buttons are cut off
Note: If you cannot reproduce, change the scale on

[2022-09-29 16:31] tmcconechy commented on #6866
Yeah looks like they could be pushed down a little

[2022-09-29 17:59] #6773 closed

[2022-09-29 18:30] s-werking opened #6867 "Datagrid: Dirty indicator does not follow changed cell on column reorder"
**Describe the bug**
This bug is found on an editable table with reorderable columns and dirty indicators. When a change is made on a cell and the column order changes, the dirty indicator does not follow the changed cell to the new column.

**To Reproduce**
Steps to reproduce the behavior:
1. Add datagrid settings columnReorder: true and showDirty: true to http://localhost:4000/components/datagri

[2022-09-29 20:59] CindyMercadoReyes commented on #6530
This issue is now resolved.

[2022-09-29 21:01] CindyMercadoReyes commented on #6834
This issue is now resolved.

[2022-09-30 01:05] jbrcna commented on #6865
no it is not zoom in/out. here's a screenshot in Browserstack
<img width="1671" alt="image" src="https://user-images.githubusercontent.com/56722184/193167964-5cc93f27-4124-4bce-a283-2db940a3b696.png">

[2022-09-30 13:29] tmcconechy commented on #6865
Ok i see it if you make less space on the bottom and it moves to the side instead

[2022-09-30 13:34] tmcconechy opened #6868 "Icons: Add new icons, filled icons and change the internal padding"
**Describe the bug**
This ticket is associated with https://jira.infor.com/browse/IDS-509 and will be used for the change log and Pull request to add changed and new icons from design. The current changes will include

- [ ] A new ids-identity version
- [ ] New icons
- [ ] New "fiilled" icons
- [ ] Changes to icon padding (2px on top and bottom)

**Tests/Tasks**
- [ ] Include new ids-identity vers

[2022-10-03 00:59] jbrcna commented on #6773
QA Passed. v4.68.0-dev

[2022-10-03 02:34] glenlieorillo commented on #6748
QA tested and passed.
http://localhost:4000/components/bar-grouped/example-formatter.html

https://user-images.githubusercontent.com/102151352/193491666-869c4146-c483-4813-94ae-a5200219b69a.mov

[2022-10-03 13:39] #6686 closed

[2022-10-03 16:43] claudenbach opened #6869 "Datagrid: Render issue with frozen columns and hidden columns"
**Describe the bug**
Render issue when using frozen columns and all columns except the frozen columns become hidden.  Datagrid renders with a large unused space making the user believe that the datagrid's rendering is not complete.

**To Reproduce**

Steps to reproduce the behavior:
1. Using the attached 'test-frozen-columns-with-hidden-columns.html
2. Notice that large white space on the datagrid

[2022-10-03 16:47] claudenbach commented on #6869
[Git#6869.zip](https://github.com/infor-design/enterprise/files/9699352/Git.6869.zip)

[2022-10-03 19:07] #6799 closed

[2022-10-04 00:57] glenlieorillo commented on #6686
QA tested and the bug still exists.
Validated in: http://localhost:4000/components/tabs-module/example-category-searchfield-go-button-home.html
https://main-enterprise.demo.design.infor.com/components/tabs-module/example-category-searchfield-go-button-home.html

1. _When the searchfield isn't focused, the height of the searchfield is smaller than the categories
and go buttons._  **FAILED**

3. _Wh

[2022-10-04 00:58] tjamesallen15 commented on #6529
Hello Team,

I did a research about the draggable fade and it is built-in limitation on Windows 10. In Mac, it is fine as it is and there is no fade between large draggable items.
https://stackoverflow.com/questions/18841228/draggable-item-faded-and-ugly

As stated in the link above, I checked the google image and it creates a small version of the draggable image for it not to fade.
![Untitled](ht

[2022-10-04 01:15] ericangeles commented on #6686
@yohannahbautista can you take a look again?

[2022-10-04 02:43] yohannahbautista commented on #6686
Hello, it's working for me in local, not sure what to do with main-enterprise
<img width="1012" alt="Screen Shot 2022-10-04 at 10 42 12 AM" src="https://user-images.githubusercontent.com/85279127/193723140-5f324ec9-5f1d-41bd-994f-ce8c582ea2a2.png">

[2022-10-04 08:44] rdugenia opened #6871 "Datagrid: Scrollbar disappears on Safari browser"
**Describe the bug**
Scrollbar on datagrid disappears on Safari browser.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to [datragrid example](https://master-enterprise.demo.design.infor.com/components/datagrid/example-paging-indeterminate.html)
2. Observe the horizontal scrollbar

Scrollbar seems to disappear and cannot scroll.

**Expected behavior**
Scrollbar on datagrid should show a

[2022-10-04 13:17] glenlieorillo commented on #6686
Thanks, @yohannahbautista 😊

It's working now in local.
http://localhost:4000/components/tabs-module/example-category-searchfield-go-button-home.html

https://user-images.githubusercontent.com/102151352/193725448-d8076207-7ed4-4a1a-b834-c05cf03f000f.mov

[2022-10-04 14:17] #6546 closed

[2022-10-04 14:22] tmcconechy commented on #6529
@andriivarhanov did you solve this recently for tabs in the WC project? Just trying to connect the two issues.

[2022-10-04 14:26] tmcconechy commented on #6871
i dont think this is fixable actually. I think it relates to this mac setting. (Show scroll bars in general). If you set this to "automatically based on mouse or trackpad" or "when scrolling" then it only shows when you "flick" or scroll with the magic mouse. You might want to set it to always on.

<img width="674" alt="Screen Shot 2022-10-04 at 10 24 30 AM" src="https://user-images.githubusercont

[2022-10-04 14:52] jbrcna commented on #6546
QA Passed. v4.68.0-dev

[2022-10-05 00:25] rdugenia commented on #6871
I see, my bad :sweat_smile: Show scroll bars not set to Always. This is working on my end now, thanks Tim!

[2022-10-05 01:32] bempedragosa commented on #6847
Yes @tmcconechy . That's right. When Locale.set('zh-TW') loads the locale, there are 3 locale javascript files being loaded. The en-US, zh-TW and zh-CN. The locale js file call the addCulture function which adds the locale data to _**this.languages**_ (see pic below). In this case,  the parent locale which is the **zh-CN** is added first to language list. It will be added as, zh and zh-CN (see the

[2022-10-05 13:26] tmcconechy commented on #6871
Cool 👍🏻

[2022-10-05 13:26] #6871 closed

[2022-10-06 09:27] vThushy opened #6875 "Correct number of pages are not diaplyed under dataservices when filter is applied in soho grid"
**Describe the bug**
If I enter a text to search for (filter) and then try to reduce the result by suite, it forgets about the text. But if I then change the number of records, it seams to apply the text filter again, but does not limit the number of records of the final set, but probably the initial set of records or something.

**To Reproduce**
1.Create a new page and go to step Select Data Serv

[2022-10-06 10:34] anhallbe opened #6876 "ids-enterprise declares a lot of dependencies since 4.67"
**Describe the bug**
While scanning for vulnurable and non-compliant (license) packages, we found that `ids-enterprise` declares a lot of dependencies since version 4.67.

**To Reproduce**

Output from `npm info ids-enterprise@4.66`:
[code]

Output from `npm info ids-enterprise@4.67`:
[code]

**Additional context**
https://jira.infor.com/browse/LIME-8572

[2022-10-06 13:57] s-werking opened #6877 "Datepicker: Increment/Decrement date hotkeys do not work in Firefox"
**Describe the bug**
When using hotkeys to change the date in a field or cell in Firefox, the "+" and "-" keys do not increment/decrement the date.
Note: The "+" and "-" keys in the number keypad successfully increment/decrement the date, but the "+" and "-" keys in the QWERTY keyboard do not.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the settings 'incrementWithKeyboard: true' and

[2022-10-06 13:57] tmcconechy commented on #6875
This is written as a application issue. Maybe you need to raises this with the IAD team. Im not seeing anyway i can do anything with it in the component library.

If its a component bug can you make an example and make steps to reproduce using the components? Maybe you can put it in here https://stackblitz.com/edit/ids-quick-start-1431?file=src%2Fapp%2Fapp.component.ts

[2022-10-06 14:04] tmcconechy commented on #6876
@anhallbe I think i ran into this it was the optionalDependencies we started to use. I was able to fix it by editing the package-lock.json so that it has them all removed.

[code]

Or alternatively you can try `npm ci --no-optional`

I'm wondering if we should pull this out tho? Put them back as devDependencies again. The idea with these are they are for the doc site deployment not development.

[2022-10-06 14:49] anhallbe commented on #6876
I can see why they were added as `optionalDependencies`. However I don't think you're using them as intended, at least not based on [this description](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#optionaldependencies).

Using `--no-optional` works, but I still don't think it's a good idea to have dev dependencies in there, as the default for NPM is to always try to install `optionalD

[2022-10-06 15:15] tmcconechy commented on #6876
Yeah the use case we have of lowering the amount installed via `npm ci --no-optional` probably isn't more important than the problem when this is deployed as a lib and i didn't see that coming.

[2022-10-06 19:03] s-werking commented on #6877
Just a note: It looks like the keycodes for the +/- keys on a QWERTY keyboard differ between chrome and firefox.

chrome: "+" = 187
               "-" = 189

firefox: "+" = 61
             "-" = 173

[2022-10-07 14:00] #6867 closed

[2022-10-09 15:08] vThushy commented on #6875
here is the replicated version of the issue. https://stackblitz.com/edit/ids-quick-start-1431-db6fqc?file=src/app/app.component.ts

[2022-10-10 05:25] ericangeles commented on #6686
@glenlieorillo can you test it again on main-enterprise?

[2022-10-10 06:41] glenlieorillo commented on #6686
Working as expected in main-enterprise.

https://user-images.githubusercontent.com/102151352/194809907-b04a2ac9-ef06-438c-a85e-d5361e847f0a.mov

[2022-10-10 07:14] glenlieorillo commented on #6686
This is working now as expected in main-enterprise. Thanks! 😊

https://user-images.githubusercontent.com/102151352/194814685-fa1d3c37-8c2d-4672-a521-d35269c6f221.mov

[2022-10-10 10:19] maezcruz opened #6886 "Unit Testing: Create a Puppeteer Script for "Lookup: Apply with mouse DblClick""
Describe the Issue
Create a unit testing for "Lookup: Apply with mouse DblClick".

See attached BDD for more information.
[BDDStory_github#6546.docx](https://github.com/infor-design/enterprise/files/9745119/BDDStory_github.6546.docx)

Related github issue
#6546

[2022-10-10 10:20] maezcruz commented on #6886
Cc: @CindyMercadoReyes

[2022-10-10 12:42] bempedragosa commented on #6847
Yes @tmcconechy . Just add some breakpoint to addCulture function and you'll see that the next language occurence with different region will be ignored since the language is already on the list.

[2022-10-11 09:03] guoliang commented on #6875
@tmcconechy to clarify the issue from the example given above.
When you press the button labled with `Click` some of the data are given the `_isFilteredOut` property. While it applied and data is hidden, the paginator does not gets updated until you interact with it.

[2022-10-11 09:56] #6866 closed

[2022-10-11 11:56] glenlieorillo commented on #6866
QA tested and passed.

http://localhost:4000/components/datagrid/test-icon-buttons.html
<img width="1792" alt="Screen Shot 2022-10-11 at 7 25 33 PM" src="https://user-images.githubusercontent.com/102151352/195082952-4bc74def-04bc-4ef1-89c7-82e83c85890d.png">

https://main-enterprise.demo.design.infor.com/components/datagrid/test-icon-buttons.html
<img width="1792" alt="Screen Shot 2022-10-11 at 7

[2022-10-11 12:12] glenlieorillo commented on #6867
QA tested and passed.
https://main-enterprise.demo.design.infor.com/components/datagrid/example-editable.html

**Windows 11 - Chrome (BrowserStack)**

https://user-images.githubusercontent.com/102151352/195085326-824ca35e-be0b-44ac-ac5e-82f985c46ca7.mov

**Mac - Chrome**

https://user-images.githubusercontent.com/102151352/195085387-fbfa1dec-66c0-45f2-90d1-52457d0bef0e.mov

[2022-10-12 03:01] jbrcna opened #6889 "Weekview: month is formatted differently when 'Today' is clicked using mobile device"
**Describe the bug**
month is formatted differently when 'Today' is clicked using mobile device

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'https://main-enterprise.demo.design.infor.com/components/week-view/example-index.html'
2. Click on '`Today`'
3. See error
4. Notice the month is in different format. (displaying three letter month)

**Expected behavior**
should not change for

[2022-10-12 05:43] #6819 closed

[2022-10-12 06:31] #6850 closed

[2022-10-12 08:20] inforrpunay commented on #5785
Hi @tmcconechy,

For the M3 requirement, yes it would suffice. We had this in the old infor controls and some customers are looking for it.
![image](https://user-images.githubusercontent.com/55830499/195289357-8192aa4e-3580-4d3f-a194-dd54ed340581.png)

[2022-10-12 08:33] inforrpunay commented on #6760
Hi @EdwardCoyle, thank you for the clarification on the changes in animation. I informed our QA that the decrease is intended and we do not have major concern that affects our application because of the animation. Although, it would also be appreciated if you will implement an option to be able to increase the animation speed.

[2022-10-12 10:39] glenlieorillo commented on #6850
QA tested and passed.

**Windows 11 - Chrome (BrowserStack)**

https://user-images.githubusercontent.com/102151352/195321478-3e82fa06-7552-4c5f-bcb2-3c4c79e94a99.mov

**Mac Chrome**

https://user-images.githubusercontent.com/102151352/195321650-db3caf37-6610-4f98-8b12-653bc2aa94e7.mov

[2022-10-13 06:34] yohannahbautista commented on #6684
@guoliang @tmcconechy @ericangeles
Hello, I checked the code in IDS and there looks to be a fix already there for the undefined exception: https://github.com/infor-design/enterprise/blob/main/src/components/datagrid/datagrid.js#L12881
If I inspect the stackblitz, the check is missing
<img width="461" alt="image" src="https://user-images.githubusercontent.com/85279127/195519651-647151a2-4e43-4a53-9

[2022-10-13 10:18] #6858 closed

[2022-10-13 11:33] jbrcna opened #6891 "Tree map: misaligned labels in RTL"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/treemap/example-index.html?locale=ar-sA
2. See error

**Expected behavior**
should render properly

**Version**

- ids-enterprise: v4.69.0-dev

**Screenshots**
<img width="1416" alt="image" src="https://user-i

[2022-10-13 17:44] aaralikar opened #6892 "RichText: Pen test failure Paste as plain text vs paste"
**Describe the bug**
Paste in rich text editor works as expected when malicious input such as  "&gt;&lt;img src=x onerror=alert(1)&gt;" is pasted.
Paste as plain text fails. It executes the onerror script.

**To Reproduce**

Use the demo for rich text editor, ids-enterprise-ng-demo/editor

Steps to reproduce the behavior:
1. Go to editor demo
2. Right click and paste as plain text the attack vecto

[2022-10-13 17:45] aaralikar commented on #6892
Paste as plain text

![RichtextPasteAsPlainText](https://user-images.githubusercontent.com/22720894/195668465-14cecd4c-40e6-4635-b840-eff4fea83ada.gif)

[2022-10-13 19:53] s-werking opened #6893 "Datagrid: Changing a colorpicker from none to a color does not make the cell dirty"
**Describe the bug**
On an editable datagrid that has dirty indicators, when changing a colorpicker with no color specified to a different color there is no dirty indicator added to the cell.

**To Reproduce**
Steps to reproduce the behavior:
1. Add datagrid setting showDirty: true and change the color of a colorpicker to an empty string on http://localhost:4000/components/datagrid/test-editable-c

[2022-10-14 05:14] jbrcna opened #6894 "Toolbarsearchfield: inside CAP x icon misaligned in mobile view"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/toolbarsearchfield/example-inside-contextual-panel.html
2. swtich to mobile view or open min mobile device
3. click button to open cap
4. click searchfield icon
5. See error

**Expected behavior**
should be pr

[2022-10-14 13:15] kimanderssonm3cs opened #6895 "Gantt Charts"
**Is your feature request related to a problem or use case? Please describe.**
Production planning in M3 is a vital process for alot of customers, currently you'd have to work in a bit of a "messy" M3 environment to achieve your goals.

**Describe the solution you'd like**
Implement a Gantt Chart component

**Describe alternatives you've considered**
I have looked into https://dhtmlx.com/docs/prod

[2022-10-14 13:41] ccai2021 opened #6896 "Datagrid: Time filter doesn't take effect when clicking 'Set Time' button"
**Describe the bug**
The filter does not take effect until I type 'enter'. It can't take effect immediately after I click the 'Set Time' button

**To Reproduce**

Steps to reproduce the behavior:
https://main-enterprise.demo.design.infor.com/components/datagrid/test-editable-time.html.
1. Click on the clock icon on the time filter `Time 24`, set the time to 0400, then click 'Set Time' button
2. Th

[2022-10-14 14:12] ericangeles commented on #6889
For clarification @tmcconechy

[2022-10-14 14:19] ericangeles commented on #6894
Duplicate issue https://github.com/infor-design/enterprise/issues/6857 closing this one now.

[2022-10-14 14:19] #6894 closed

[2022-10-14 14:21] ericangeles commented on #6895
@kimanderssonm3cs I believe we have plan for the gantt chart component request. Any additional information @tmcconechy @danielortiz1982 @inforandy?

[2022-10-14 15:02] tmcconechy commented on #6895
yes this is the design and issue: https://github.com/infor-design/enterprise-wc/issues/889 we are currently finalizing the design. Watch that issue for updates and contribute there please. Sounds like what you would want

[2022-10-14 15:02] #6895 closed

[2022-10-14 15:03] tmcconechy commented on #6889
@jbrcna this is by design, in smaller views the whole month wont fit so we show the smaller date format

[2022-10-14 15:03] #6889 closed

[2022-10-14 15:10] tmcconechy commented on #6684
@yohannahbautista sounds like the answer to me.

[2022-10-17 02:38] #6886 closed

[2022-10-17 03:52] jbrcna commented on #6889
thank for clarifying @tmcconechy , @ericangeles

[2022-10-17 04:01] glenlieorillo opened #6897 "Field Filter: dropdown filter looks off in Firefox"
**Describe the bug**
Dropdown filter looks off in Firefox.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/field-filter/example-datepicker.html, https://main-enterprise.demo.design.infor.com/components/field-filter/example-filtertype.html, https://main-enterprise.demo.design.infor.com/components/field-filter/example-index.html i

[2022-10-17 08:14] jbrcna opened #6898 "Toolbar: example-more-than-three-buttons overlapping buttons/text in mobile view"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/toolbar/example-more-than-three-buttons.html
2. See error

**Expected behavior**
toolbar buttons should not overlap to each other

**Version**

- ids-enterprise: v4.69-0.dev

**Screenshots**
<img width="172" a

[2022-10-17 08:26] jbrcna opened #6899 "Toolbar: missing input field"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/toolbar/example-toolbar-input.html?theme=classic&mode=light
2. See error
3. Notice that the input field is missing

**Expected behavior**
input field should be displayed

**Version**

- ids-enterprise: v4.69.0

[2022-10-17 12:13] maezcruz opened #6900 "Unit Testing: Create a Puppeteer Script for "Datagrid: Need extra class setting for adding a class to the new datagrid icon tooltip""
Describe the Issue
Create a unit testing for "Datagrid: Need extra class setting for adding a class to the new datagrid icon tooltip".

See attached BDD for more information.
[story_github#6802.docx](https://github.com/infor-design/enterprise/files/9800304/story_github.6802.docx)

Related github issue
#6802

[2022-10-17 14:54] vonnyw opened #6901 "Keyboard shortcut 't' is not working in Date fields"
**Describe the bug**
Keyboard shortcut 't' is not working in Date fields

**To Reproduce**

https://main-enterprise.demo.design.infor.com/components/datagrid/example-filter.html

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/datagrid/example-filter.html
2. Put focus on Order Date Column
3. Type 't' on Order Date filter
4. Nothing happens, we use

[2022-10-17 15:00] #6844 closed

[2022-10-17 15:01] #6851 closed

[2022-10-17 15:14] tmcconechy commented on #6901
Remember this is now a setting that defaults to false because its non-standard. See: https://github.com/infor-design/enterprise/blob/main/docs/CHANGELOG.md#v4670-important-notes so maybe you need to add this t get it to work:

[code]

[2022-10-17 15:20] vonnyw commented on #6901
Thanks Tim, so this is a breaking change in IDS 4.67. Let us try setting the option to true.

[2022-10-17 15:24] tmcconechy commented on #6901
Yeah it must be the same breaking change - give it a try

[2022-10-17 19:14] tmcconechy commented on #5763
This was added in the web component version..

[2022-10-17 19:14] #5763 closed

[2022-10-17 20:00] vonnyw commented on #6901
Please close this ticket, setting the "todayWithKeyboard" setting to true resolved the issue. Thanks!

[2022-10-17 20:26] #6901 closed

[2022-10-18 02:50] ryanChrstn opened #6902 "Tabs: Ability to add title in New Tab"
**Is your feature request related to a problem or use case? Please describe.**
Tabs: Add an option in the New Tab button to add a title.

**Describe the solution you'd like**
New Tab in the Tab component would be better if there's also a title being displayed on the button. Same with the other tabs.

**Describe alternatives you've considered**
If the title can be modified or supplied for translati

[2022-10-18 05:14] tjamesallen15 commented on #6846
Can you provide more input regarding this issue like test page or can you update the description? I tried testing it in our environment and I can't reproduce the issue. @jayblack-infor  Thanks!

[2022-10-18 10:17] #6145 closed

[2022-10-18 11:13] glenlieorillo commented on #6851
QA tested and passed.

Windows 11 - Chrome (BrowserStack)
https://main-enterprise.demo.design.infor.com/components/datagrid/example-editable.html

https://user-images.githubusercontent.com/102151352/196414102-9a872df8-c292-433d-9101-7db401918811.mov

Mac Chrome
https://main-enterprise.demo.design.infor.com/components/datagrid/example-editable.html

https://user-images.githubusercontent.com/1021513

[2022-10-18 12:59] jayblack-infor commented on #6846
Hi James.   You could only duplicate if using using shadowdom encapsulation.   If you could just provide a safety check similar to what I suggested above that should handle it.

[2022-10-18 13:31] tmcconechy commented on #6846
@tjamesallen15 I think its fine to just add the code above as an extra check...  Thanks!

[2022-10-19 02:20] tjamesallen15 commented on #6730
Hello @tmcconechy and @guoliang ,

I cannot reproduce this issue anymore in both EP and NG. I made an example page directly with the project. I used your data and structure in the example page. Please see it in the Pull Request.

[2022-10-19 05:39] aparimalla commented on #4979
Please let us know on which version this issue got fixed.

[2022-10-19 07:25] ericangeles commented on #4979
@aparimalla it's in `4.66.0`

[2022-10-19 07:33] aparimalla commented on #4979
Thank you @ericangeles

[2022-10-19 17:22] s-werking commented on #6867
Hi, we have encountered an issue related to this ticket after implementing this fix.

Steps to reproduce:
1. Go to http://localhost:4000/components/datagrid/example-editable.html
2. Make a cell change to show a dirty indicator on that cell
3. Reorder a different column over the dirty column
4. See that a dirty indicator appears on a cell that has not been changed

See this gif for reference:
![Dir

[2022-10-19 17:31] s-werking commented on #6686
Hi, we have encountered an issue related to this ticket after implementing this fix. This is only an issue with classic theming.

Steps to reproduce:
1. Go to http://localhost:4000/components/tabs-module/example-category-searchfield-go-button-home.html?theme=classic&mode=light&colors=2578a9
2. Note that the searchfield height doesn't quite match the categories button height

Screenshot for referen

[2022-10-19 17:44] s-werking commented on #6850
Hi, we have encountered an issue related to this ticket after implementing this fix.

Steps to reproduce:
1. Go to http://localhost:4000/components/datagrid/test-alternate-row-shading.html
2. Click on the date cell with shading on the 4th row
3. Click outside of the table
4. See that the color around the datepicker icon is different than the color of the cell
5. To see in other themes, change the

[2022-10-20 05:13] jbrcna opened #6908 "Tabs: example-url-hash-change not working in classic"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/tabs/example-url-hash-change.html
2. Switch to `classic view`
3. Click the other tab
4. Oberve the url has changed
5. Refresh this page
6. See error

**Expected behavior**
The hash after the URL will cause the

[2022-10-20 05:13] ericangeles commented on #6686
@yohannahbautista can you take a look at this

[2022-10-20 05:15] #6846 closed

[2022-10-20 09:57] #6730 closed

[2022-10-20 13:08] s-werking commented on #6866
Hi, just a note that this one may not be deployed to main. I'm seeing the issue still on
https://main-enterprise.demo.design.infor.com/components/datagrid/test-icon-buttons.html but not on http://localhost:4000/components/datagrid/test-icon-buttons.html. Thanks

[2022-10-20 13:09] s-werking commented on #6851
Hi, just a note that this one may not be deployed to main. I'm seeing the issue still on https://main-enterprise.demo.design.infor.com/components/datagrid/example-editable.html but not on http://localhost:4000/components/datagrid/example-editable.html. Thanks

[2022-10-20 22:24] tjamesallen15 commented on #6842
Hello. Verified on 4.69.0 and it's not reproducible anymore. This was fixed by another PR. https://github.com/infor-design/enterprise/issues/6858

[2022-10-21 05:38] ericangeles commented on #6867
@yohannahbautista can you verify this?

[2022-10-21 05:40] ericangeles commented on #6866
@s-werking it may have something to do with the build, but it will definitely added once it we merged other fixes in the main.

[2022-10-21 05:43] ericangeles commented on #6730
@tjamesallen15 can you reference that PR in here?

[2022-10-21 06:18] ericangeles commented on #6684
Closing now this issue.

[2022-10-21 06:18] #6684 closed

[2022-10-21 06:21] ericangeles commented on #6784
@guymid as provided by @yohannahbautista and @tmcconechy above you can try and check that out. I'll be closing now this issue.

[2022-10-21 06:21] #6784 closed

[2022-10-21 07:55] tjamesallen15 commented on #6850
Will check this one.

[2022-10-21 09:04] jbrcna commented on #6846
QA Passed. moving this ticket to done.
https://main-enterprise.demo.design.infor.com/components/datagrid/test-filter-zero-as-text.html
<img width="1355" alt="image" src="https://user-images.githubusercontent.com/56722184/197157907-7b92a156-4bf4-4aec-bf67-5c9d4c2e16e8.png">

[2022-10-21 12:09] ahivare opened #6911 "Edit column cell value with conditional validation on DataGrid component"
Edit column cell values with conditional validation on every line of the DataGrid component  

The DataGrid component should provide editing of every row's column cell values with conditional validation. Here, first we have to capture the column cell value and then do conditional validation by using this captured value while editing. If this is true, we should succeed; otherwise, we should make an

[2022-10-21 13:27] tmcconechy commented on #6866
yeah i think it was broken for a while and fixed on https://github.com/infor-design/enterprise/pull/6903
should update next time we merge a PR

[2022-10-21 13:28] #6842 closed

[2022-10-21 13:39] swuendri opened #6912 "d3-color vulnerable to ReDoS"
**Describe the bug**
The project uses version 5.16.0 of package d3. D3 has a dependency to d3-color which has a reported security issue since several weeks. This breaks the audit of our M3 H5 application.

**To Reproduce**
Run npm audit.

Steps to reproduce the behavior:
1. git clone https://github.com/infor-design/enterprise.git
2. cd enterprise
3. npm audit --production
4. Output:
[code]

**Expe

[2022-10-21 13:41] tmcconechy commented on #6912
This is being worked on https://github.com/infor-design/enterprise/pull/6731 we will update all dependencies to their latest there. But its a big task.

[2022-10-21 17:46] swuendri commented on #6912
I'm not sure how, but if you see a possibility that I can help @tmcconechy , please let me know.

[2022-10-21 18:41] tmcconechy commented on #6912
No we should be able to handle this. Just not sure which version it will be in

[2022-10-24 08:37] volante007 commented on #6860
Yes, it's adding the selectable classes if the menu contains `.separator` elements which is very strange. Separators in the main menu have nothing to do with whether the submenu contains selectable options.

[2022-10-24 13:19] janahintal commented on #6842
The issue still exists in MacOS Safari 14.1 Big Sur.

**Chrome**
![image](https://user-images.githubusercontent.com/45757016/197522347-b5b88c76-5c2e-461d-add3-e61f477fafec.png)

**Safari 14.1 Big Sur**
![image](https://user-images.githubusercontent.com/45757016/197534960-11a9b200-3cce-42db-97cf-dc8b37c11ea4.png)

[2022-10-24 13:52] tmcconechy commented on #6842
@tjamesallen15 i think its possible this wasnt deployed as we had issues there.?

[2022-10-25 02:19] #6900 closed

[2022-10-25 02:50] tjamesallen15 commented on #6787
Question. In this image, the top image is the expected result? I am confused. When I tried to sort it in Excel I received it like this
![image](https://user-images.githubusercontent.com/34049950/197670723-0106c55d-d7c9-4a44-b88a-807658f90304.png)

[2022-10-25 04:12] ahivare commented on #6911
Hi @tmcconechy ,yes it is an enhancement request.
Example:
so as per below image we have datagrid and the quantity column is editable, so every line there is having default ordered qty, here user can edit the ordered qty but condition while editing ordered qty is  user can not exceed/edit  value more than the default value. e.g. 1. (if qantity is 8 ,user can exceed/edit value only less than 8 not

[2022-10-25 13:36] AT-Infor opened #6916 "Dropdown: Cannot read properties of null (reading 'find') using virtual keyboard"
**Describe the bug**
If you use a virtual keyboard when entering characters into a dropdown box it causes the following error:
"dropdown.js:1795 Uncaught TypeError: Cannot read properties of null (reading 'find')  at dropdown.js:1795:21"

**To Reproduce**

Step up:
Add the Chines language pack to your PC.

![image](https://user-images.githubusercontent.com/88100277/197785994-9c839731-7ed0-4c1a-8d5

[2022-10-25 14:04] tmcconechy commented on #6916
I tried this on mac as thats what i have and could not reproduce. Any idea which of these it would be using?

![Screen Shot 2022-10-25 at 10 02 34 AM](https://user-images.githubusercontent.com/814283/197795049-2fda8363-5feb-450b-96fa-bda50289888e.png)

Also do you know if its a virtual keyboard issue or actually reported by chinese users?

[2022-10-25 14:27] tmcconechy commented on #6911
This isnt the type of enhancement we would do as its app specific. But i think what you want to do as add validation to that cell. This example shows custom validation:

https://main-enterprise.demo.design.infor.com/components/datagrid/test-editable-validation.html
- Edit the product id cell.

You would just want to add the logic for the use case in a custom validation function https://github.com/

[2022-10-25 14:28] #5273 closed

[2022-10-25 14:50] jayblack-infor commented on #6846
What release will this be included in?   Looks like it's 4.69.x.   Can you update to let me know when it's included and what release?   Thanks

[2022-10-25 14:57] tmcconechy commented on #6846
It will be in 4.69. Correct. Will be sometime in early Nov. Watch the announcements in MS Teams for that 👍🏻

[2022-10-25 14:58] jayblack-infor commented on #6846
Thanks

[2022-10-25 16:32] s-werking opened #6917 "Datagrid: Datepicker is not shown on datagrid filter in Safari"
**Describe the bug**
Datepicker icons are not shown in date column filters when in a Safari browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:4000/components/datagrid/test-editable-datetime.html
2. See that the date column filters are missing datepicker icons

**Expected behavior**
It is expected that datepicker icons appear in the date column filters.

**Versio

[2022-10-25 18:03] claudenbach opened #6918 "Datagrid: issues adding a row when have frozen columns"
**Describe the bug**
Issues when adding a row to the top of the datagrid when also have frozen columns.  Unable to correctly add the values for the new row. Seems to be working correctly when frozen columns are not defined on the datagrid.

**To Reproduce**
Steps to reproduce the behavior:
1. Using the attached 'test-addrow-with-frozen-columns.html'
2. Click on 'Add Row'
3. Notice unable to enter

[2022-10-25 18:10] claudenbach commented on #6918
[Git-6918.zip](https://github.com/infor-design/enterprise/files/9862820/Git-6918.zip)

[2022-10-25 18:15] claudenbach commented on #6918
Maybe related to https://github.com/infor-design/enterprise/issues/6746.

[2022-10-25 20:37] vonnyw commented on #6918
@tmcconechy please prioritize and will need a patch for IDS 4.67. Thanks!

[2022-10-25 20:43] tmcconechy commented on #6918
@ericangeles can you guys add this to the sprint for next patch release (Nov 1 or 15th). And see if we can fix for this version?

[2022-10-26 00:19] tjamesallen15 commented on #6787
Thanks, Tim!

[2022-10-26 03:39] ericangeles commented on #6918
@tmcconechy sure.

[2022-10-26 04:53] ericangeles opened #6919 "Header: Convert Protractor tests to Puppeteer"
**Is your feature request related to a problem or use case? Please describe.**
Convert Header component protractor tests to puppeteer.

**Describe the solution you'd like**
Convert all test scenarios in protractor to puppeteer. The naming can be, `{component}.puppeteer-spec.js`

[2022-10-26 05:26] glenlieorillo opened #6920 "Datagrid: 'Today' button is not working"
**Describe the bug**
Today button is not working in Chrome and Edge.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/datagrid/example-editable.html
2. Click on calendar icon
3. Click on 'Today' button

**Expected behavior**
Today button should render a date upon clicking in Chrome and Edge.

**Version**

- ids-enterprise: 4.68.0

[2022-10-26 05:41] glenlieorillo commented on #6850
QA tested and passed. However, I found a bug while testing this ticket. [6920](https://github.com/infor-design/enterprise/issues/6920)

https://user-images.githubusercontent.com/102151352/197943405-f2150747-4f6e-49d6-a553-6cef2969ffa0.mov

https://user-images.githubusercontent.com/102151352/197943925-2b196b37-86a3-44c0-aaa8-7ed8a1f249e3.mov

[2022-10-26 08:47] pooBadiger opened #6921 "DataGrid: Cannot see more than 3 buttons in a grid toolbar"
**Describe the bug**
In a data grid, not able to see more than 3 buttons in a grid toolbar.

Steps to reproduce the behavior:
- Add more than 3 buttons inside a soho-toolbar.

 `<soho-toolbar class="contextual-toolbar is-hidden">
            <soho-toolbar-title>
                <div soho-selection-count>{{ "REGISTRY.ZERO_SELECTED" | transloco }}</div>
            </soho-toolbar-title>

[2022-10-26 10:01] AT-Infor commented on #6916
Originally it was reported by a Chinese user but I'm able to replicate this issue on my machine (Windows 11). It's set to Pinyin.
I don't have access to a Mac for testing.

[2022-10-26 13:17] claudenbach commented on #6227
Now have a customer attached to the Landmark ticket regarding this issue.

[2022-10-26 13:21] tmcconechy commented on #6529
@tjamesallen15 have a look at https://github.com/infor-design/enterprise-wc/pull/933 but i dont know if it will solve the issue.

Lets research if we can get rid of the window effect?

[2022-10-26 13:27] tmcconechy commented on #6528
Ok lets go with `{0} Record(s) Selected` for the new string.

[2022-10-26 13:35] tmcconechy commented on #5785
@inforandy just need a quick design for font size and color (dark and light mode and classsic) for the new text for the week number

[2022-10-26 13:44] tmcconechy commented on #6826
Is this still an issue. I think we solved this over chat maybe?

[2022-10-26 13:50] danders17 commented on #6826
Yes, it is still an issue as far as I know.  We did not resolve over chat with your suggestions so you said add the issue.

Thanks,
Dave

From: Tim McConechy ***@***.***>
Sent: Wednesday, October 26, 2022 9:45 AM
To: infor-design/enterprise ***@***.***>
Cc: David Anderson (US-Tampa) ***@***.***>; Author ***@***.***>
Subject: Re: [infor-design/enterprise] Checkbox: Label not wrapping at end of colu

[2022-10-26 13:57] tmcconechy commented on #6916
@jdilag90 would you be able give this a test on a pc?

[2022-10-26 14:08] tmcconechy commented on #6227
I'm not sure we want to keep the conditions when you clear it as it clears both the . So maybe they dont clear and just change the text in the field to something else? I.E. Clearing filter clears values and conditions.

Or you could add maybe a new option?

[2022-10-26 14:11] tmcconechy opened #6922 "IdsAlerts: Need to still have a yellow alert"
**Describe the bug**
Should have a orange and yellow status.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/colors/example-index.html
2. Notice there is two orange alert colors (should be a yellow and an orange as before)

**Expected behavior**
Revert the fix that changes this...

TODO: Find that PR?

[2022-10-26 14:53] cpinatel7 commented on #6528
Thanks for "{0} Record(s) Selected". If you can, please add a comment indicating that {0} is a number. Thanks again

[2022-10-26 16:26] AT-Infor commented on #6916
Please see attached video:

https://user-images.githubusercontent.com/88100277/198081640-937504c8-1d6b-4767-bdc7-4ce512007085.mp4

[2022-10-26 23:36] glenlieorillo commented on #6686
It is now working as expected.

Windows 11 - Chrome (BrowserStack)

https://user-images.githubusercontent.com/102151352/198158186-a28d2eeb-382e-43c3-a051-3b7c00df5cdd.mov

Mac Chrome

https://user-images.githubusercontent.com/102151352/198158196-1b63a755-2070-477a-99fc-e7a32c612f2a.mov

https://user-images.githubusercontent.com/102151352/198158273-62b4f55f-7531-451a-b4c9-e7b471084856.mov

[2022-10-26 23:48] glenlieorillo commented on #6866
It is now working as expected in main-enterprise.

Mac - Chrome
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/102151352/198159106-3c9927f4-da39-45c8-8f09-6acf48482d50.png">

Windows 11 - Chrome (BrowserStack)
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/102151352/198159282-942242ef-2689-4aeb-97ab-c493f28baff6.png">

[2022-10-27 02:28] tjamesallen15 commented on #6730
https://github.com/infor-design/enterprise-ng/pull/1393

[2022-10-27 02:29] tjamesallen15 commented on #6918
Same as https://github.com/infor-design/enterprise/issues/6730. I cant reproduce it anymore. I just made PR together with the test page attached in here.

PR: https://github.com/infor-design/enterprise/pull/6923

[2022-10-27 04:21] #5907 closed

[2022-10-27 06:12] jbrcna opened #6924 "Lookup: example-clearable input field resizes after selecting item"
**Describe the bug**
when you select a single item the input fields shrinks and it expands when you select multiple items.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/lookup/example-clearable.html
2. Open Lookup
3. Select a single item
4. Observe input field (it shrinks)
5. Open Lookup
6. Select a multiple item
7. Observe in

[2022-10-27 06:12] jbrcna opened #6925 "Lookup:example-clientside-paging-with-filtering table items not displayed in landscape mode"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Open mobile device /view
2. Go to https://main-enterprise.demo.design.infor.com/components/lookup/[example-clientside-paging-with-filtering.html
3. Switch to landscape
4. Open Lookup
5. See error

**Expected behavior**
should be able to see table items

**Version**

- ids

[2022-10-27 06:12] jbrcna opened #6926 "Lookup: example-multiselect-paging-serverside inconsistent selected items"
**Describe the bug**
changing the # of records per page changes the selected items.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/lookup/example-multiselect-paging-serverside.html
2. Open look up and select multiple items _(for this example select 1 item on each page 5 times)_
   ` 214220, 214226, 214232, 214238, 214244`
4. Ob

[2022-10-27 08:06] jbrcna commented on #5273
this is now working in localhost. will retest once fix is available in main
<img width="1183" alt="image" src="https://user-images.githubusercontent.com/56722184/198202502-7adb1fb5-db49-4672-8b92-e871f87b755e.png">

[2022-10-27 08:06] jbrcna commented on #6858
this is failing in main but works fine in localhost.
will retest once fix is available in main
<img width="1184" alt="image" src="https://user-images.githubusercontent.com/56722184/198205654-16907c1b-dc1f-4f2e-966e-20a996fbe02f.png">

[2022-10-27 08:06] jbrcna commented on #6842
this is failing in main but works fine in localhost.
will retest once fix is available in main
https://main-enterprise.demo.design.infor.com/components/toolbar-flex/test-header-like-title-in-span.html
<img width="546" alt="image" src="https://user-images.githubusercontent.com/56722184/197155535-e3da2588-193c-46ad-85a9-1c6f9f5b17b2.png">

http://localhost:4000/components/toolbar-flex/test-header-li

[2022-10-27 08:06] jbrcna commented on #6819
this is now working in localhost. will retest once fix is available in main
<img width="993" alt="image" src="https://user-images.githubusercontent.com/56722184/197145157-c3b5f4c0-0b47-4f58-832e-7e64d1e3ea38.png">

[2022-10-27 14:03] s-werking opened #6929 "Datagrid: Undefined tooltip when headerIconTooltip setting is not defined"
**Describe the bug**
When the column setting headerIconTooltip is not included on a column with a header icon and the icon is hovered, the tooltip is shown as undefined.

If I want a header icon to not have a tooltip I need to include the column's headerIconTooltip setting and set it to an empty string. Instead, could it be possible to only use the headerIconTooltip setting if a tooltip is needed?

[2022-10-28 06:02] glenlieorillo commented on #6867
It is now working as expected.

localhost

https://user-images.githubusercontent.com/102151352/198514434-4c012af4-f6bc-4941-b40d-504d4b73b42e.mov

main-enterprise

https://user-images.githubusercontent.com/102151352/198514449-dd6079f0-cbfa-4d1a-adf3-bbc351166a67.mov

[2022-10-28 06:07] ahivare commented on #6911
Okay @tmcconechy ,I already given try on this but will check on you pasted example.

Thanks.

[2022-10-28 13:58] tjamesallen15 commented on #6529
Will research about this, but I think this won't make in Oct Sprint.

[2022-10-28 20:29] claudenbach opened #6931 "Datagrid: Render issue with frozen columns, hidden column, and group headers"
**Describe the bug**
Render issue when using frozen columns and a hidden column before group headers.

**To Reproduce**

Steps to reproduce the behavior:
1. Goto the existing example 'test-frozen-columns-with-grouped-headers.html'
2. Notice that there is not vertical line to the left of the Quantity column, which is a member of Column Group One
3. Now tweak the file 'test-frozen-columns-with-group

[2022-10-28 20:31] claudenbach commented on #6931
![Git-6931](https://user-images.githubusercontent.com/39804038/198726919-f53e28f7-7c3e-435b-a072-138eac023738.gif)

[2022-10-29 14:01] #6876 closed

[2022-10-31 08:38] jonathanamiran opened #6933 "Datepicker: Range display in RTL (regression)"
**Describe the bug**
Datepicker Range display in RTL is malformed since version 4.6x.x (was OK in 4.60.0)

**To Reproduce**

Steps to reproduce the behavior:
1. Go to [https://design.infor.com/code/ids-enterprise/latest/demo/components/datepicker/example-range.html?locale=he-IL](https://design.infor.com/code/ids-enterprise/latest/demo/components/datepicker/example-range.html?locale=he-IL)
2. Click

[2022-10-31 13:13] tmcconechy opened #6934 "Icons: Add new empty states"
**Is your feature request related to a problem or use case? Please describe.**
The empty states have been updated. This was mentioned on a call Oct 31. We may want to label them as "Moments" as per the call. They should now be in the figma file and published.

**Additional context**
NA

[2022-10-31 13:59] tmcconechy commented on #6918
@tjamesallen15 i tested this on 4.67.x branch and still didnt see it. But you are closer to this issue. Did you try on 4.67.x as well?

[2022-10-31 14:32] #6868 closed

[2022-10-31 16:10] claudenbach commented on #6918
I've attached a new zip file.  Think the previous zip file didn't have the correct .html file contained in it.  Let me know if this new example doesn't show the issue.

[Git-6918-V2.zip](https://github.com/infor-design/enterprise/files/9902800/Git-6918-V2.zip)

[2022-10-31 16:43] tmcconechy commented on #6918
Yes i can reproduce it with that example. Also it doesnt seem to be related to https://github.com/infor-design/enterprise/issues/6746 as i reverted that.

Can you prioritize this @tjamesallen15 ?

[2022-10-31 18:57] CindyMercadoReyes commented on #6730
This issue is now resolved.

[2022-10-31 18:58] CindyMercadoReyes commented on #6145
This issue is now resolved.

[2022-10-31 18:59] CindyMercadoReyes commented on #6784
This issue is now resolved.

[2022-10-31 19:01] CindyMercadoReyes commented on #6819
This issue is now resolved.

[2022-10-31 19:04] CindyMercadoReyes commented on #6844
This issue is now resolved.

[2022-10-31 19:27] CindyMercadoReyes commented on #6684
This issue is now resolved.

[2022-11-02 02:09] yohannahbautista opened #6936 "Checkbox: Convert Protractor tests to Puppeteer"
**Is your feature request related to a problem or use case? Please describe.**
Convert Checkbox component protractor tests to puppeteer.

**Describe the solution you'd like**
Convert all test scenarios in protractor to puppeteer. The naming can be, {component}.puppeteer-spec.js

[2022-11-02 10:29] glenlieorillo commented on #6851
It is now working as expected in the main-enterprise and local host.

https://user-images.githubusercontent.com/102151352/199466711-6687fd39-1c21-4e5e-8c1d-e007ca61a716.mov

[2022-11-02 10:45] janahintal opened #6938 "DataGrid: Row re-order is broken after trying to reorder rows"
**Describe the bug**
DataGrid: Row re-order is broken after trying to reorder rows

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/datagrid/example-row-reorder.html?theme=classic&mode=light&colors=2578a9
2. Try to move the first row to another

**Expected behavior**
Row should be moved accordingly

**Version**

- ids-enterprise:

[2022-11-02 11:43] AT-Infor commented on #6916
Hello @tmcconechy , were you able to follow those steps, if you need anything else please say?

[2022-11-02 13:08] jbrcna commented on #5907
QA Passed
https://main-enterprise.demo.design.infor.com/components/datagrid/example-editable.html
![Large GIF (658x456)](https://user-images.githubusercontent.com/56722184/199497407-a85d8b46-e7df-473e-8966-c14f121fb376.gif)

https://main-enterprise.demo.design.infor.com/components/datagrid/test-custom-long-tooltip.html
![Large GIF (1506x562)](https://user-images.githubusercontent.com/56722184/1994

[2022-11-02 13:08] jbrcna commented on #5273
this is now working in main. thanks
https://main-enterprise.demo.design.infor.com/components/datagrid/test-tree-filter.html
<img width="1198" alt="image" src="https://user-images.githubusercontent.com/56722184/199494073-80b1ac38-8d99-468f-bd31-202560f0afa9.png">

[2022-11-02 13:08] jbrcna commented on #6858
this is now working in main with no errors in console
verified in https://main-enterprise.demo.design.infor.com/components/contextualactionpanel/example-trigger.html
<img width="1082" alt="image" src="https://user-images.githubusercontent.com/56722184/199493180-c25d877e-1fbf-46bf-9a2b-8aff9a4116f3.png">

[2022-11-02 13:26] tmcconechy commented on #6916
I wasn't because i dont use a PC. But passing to the team which can test on PC. We'll look and i dont think we need anything as of now.

[2022-11-02 13:27] tmcconechy commented on #6938
Looks ok to me @janahintal ?

[2022-11-02 14:25] janahintal commented on #6787
QA Passed. Verified in https://main-enterprise.demo.design.infor.com/components/datagrid/test-combo-sort. Thanks!

[2022-11-02 14:44] janahintal commented on #6842
QA Passed. Verified in https://main-enterprise.demo.design.infor.com/components/toolbar-flex/test-header-like-title-in-span.html. Thanks!
![image](https://user-images.githubusercontent.com/45757016/199519584-e1b7e184-2367-4fa7-a4a1-a593115eb5c4.png)
![image](https://user-images.githubusercontent.com/45757016/199519663-e53709cc-5d91-4bf7-98af-9bf4b68760e5.png)

[2022-11-03 04:56] ericangeles opened #6940 "Step Chart: Convert Protractor tests to Puppeteer"
**Is your feature request related to a problem or use case? Please describe.**
Convert step chart component protractor tests to puppeteer.

**Describe the solution you'd like**
Convert all test scenarios in protractor to puppeteer. The naming can be, `{component}.puppeteer-spec.js`

[2022-11-03 13:40] #6918 closed

[2022-11-07 06:33] sughade12 opened #6947 "Paging: After re-assigning gridOptions the SohoDataGridSourceRequest object does not provide pagination information."
I'm having a function loadActiveGrid which is getting called inside ngOnInit. Inside loadActiveGrid function I'm initializing all the gridOptions as below:

  loadActiveGrid() {
    this.gridOptions = {
      columns: this.columns,
      selectable: 'single',
      editable: true,
      filterable: true,
      clickToSelect: false,
      toolbar: { results: true, keywordFilter: true },
      pagin

[2022-11-07 08:29] ericangeles commented on #6947
Did you try to test in the latest version? Looks like you're using is an older version.

[2022-11-07 13:10] jbrcna commented on #6918
this is now working as expected.
https://main-enterprise.demo.design.infor.com/components/datagrid/test-addrow-with-frozen-columns
<img width="1387" alt="image" src="https://user-images.githubusercontent.com/56722184/200318077-928e5b91-2277-4796-bba6-f284e2aa23e8.png">

[2022-11-07 16:40] jayblack-infor commented on #6846
Is there an ETA for 4.69?   Just trying to plan.  Thanks

[2022-11-07 17:53] tmcconechy commented on #6846
Its a bit late - going to beta today. So about a week

[2022-11-07 18:59] jayblack-infor commented on #6846
Ok.   Thanks

[2022-11-08 06:47] sughade12 commented on #6947
Yes I tried on the latest versions as below:
ids-enterprise: 4.68.0.
ids-enterprise-ng: 14.4.3.

But the same issue is occuring.

Just FYI, the SohoDataGridSourceRequest i.e req here, on refreshing the grid looks as shown in the screenshot below for version 4.54.0 & 4.68.0,

**1) ids-enterprise version: 4.54.0 & ids-enterprise-ng version: 10.3.1:**
<img width="960" alt="GIT-4 54 0" src="https://us

[2022-11-08 15:10] #6864 closed

[2022-11-08 21:47] claudenbach opened #6952 "Datagrid: dirty cell indicator is not being cleared with frozen columns when using clearDirtyRow"
**Describe the bug**
The dirty cell indicator is not being removed from all cells of a datagrid row when using frozen columns.  The dirty cell indicator is only being cleared from the frozen columns and not the remaining columns on the row.  This is working fine when frozen columns are not in play.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'test-addrow-with-frozen-columns.html'

[2022-11-08 21:55] claudenbach commented on #6952
![Git-6952](https://user-images.githubusercontent.com/39804038/200684038-83573501-9927-4ba5-a86d-6f1309c6ee6b.gif)

[2022-11-09 06:35] jbrcna commented on #6868
Hello, see below my test findings :bug:
https://main-enterprise.demo.design.infor.com/components/validation/test-legacy-tooltip.html
<img width="1308" alt="image" src="https://user-images.githubusercontent.com/56722184/200745984-c9403ddd-cf60-44c9-b145-ba4713d84127.png">

**_Observations_**:
https://main-enterprise.demo.design.infor.com/components/validation/test-error-on-tab.html?theme=classic&mo

[2022-11-09 07:34] clausvaever commented on #6503
Besides the problem as described above with the return of modified rows, it also seems like the returned selected rows are wrong. So both getModifiedRows() and selectedRows() returns the wrong rows if grouping is used.

Steps to recreate the problem with selectedRows():
1.Open [https://design.infor.com/code/ids-enterprise/latest/demo/components/datagrid/example-grouping-editable.html](https://desi

[2022-11-09 08:47] #6896 closed

[2022-11-09 11:32] #6744 closed

[2022-11-09 12:06] glenlieorillo opened #6953 "Sinkpage: Process Indicator - Icons: line overlaps with the icons"
**Describe the bug**
The line overlaps with the icons in Classic Version.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://4690-beta0-enterprise.demo.design.infor.com/?theme=classic&mode=light&colors=2578a9
2. Scroll down to Process Indicator - Icons
4. See error

**Expected behavior**
Line should not overlap with the icons.

**Version**

- ids-enterprise: 4.69.0-beta.0

**Scre

[2022-11-09 15:04] janahintal opened #6955 "Calendar: Today function is not working in toolbar sample"
**Describe the bug**
Calendar: Today function is not working in toolbar sample

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/calendar/example-calendar-toolbar.html
2. Open the calendar
3. Switch months and year using the arrow button to April 2023
4. Click Apply
5. Click Today

**Expected behavior**
Should display the date tod

[2022-11-09 19:18] s-werking opened #6956 "Modal: Whitespace on the right side of a datagrid on Firefox"
**Describe the bug**
In the Firefox browser, when a modal with a datagrid is opened there is some whitespace next to the last column in the datagrid.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:4000/components/modal/test-modal-datagrid-title-overlap.html in Firefox
2. Click on Open Modal button
3. See that there is whitespace on the right side of the datagrid

**Ex

[2022-11-09 19:19] tmcconechy commented on #6956
Can you set the column widths?

[2022-11-09 19:30] s-werking commented on #6956
Yes, we have been extending the length of columns to temporarily fix the issue but the modal looks better when columns are sized automatically according to the size of the text in the columns.

[2022-11-09 19:34] CindyMercadoReyes commented on #6876
This issue is now resolved.

[2022-11-09 19:43] CindyMercadoReyes commented on #6868
This issue is now resolved. Tim did fix the additional issue just in case - but it was minor. I think i will add it to the final once the beta is approved

[2022-11-09 20:44] tmcconechy commented on #6952
@ericangeles can you guys take a look. This regressed and is needed by Landmark on 4.67.x when done

[2022-11-10 01:12] jbrcna commented on #6868
Thank you @CindyMercadoReyes

[2022-11-10 06:03] jbrcna opened #6961 "Sinkpage: Searchfield x icon is not centered when focused/highlighted"
**Describe the bug**
when using `chrome` and/or `edge`, Searchfield x icon is not centered when focused/highlighted

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://4690-beta0-enterprise.demo.design.infor.com
2. Find Searchfield
3. Type a text
4. Press tab key to focus on x icon
5.  See error

**Expected behavior**
should be centered
<img width="415" alt="image" src="https://us

[2022-11-10 06:46] hsubtain opened #6963 "Date cell is still in edit state even after selecting a date from date picker calendar"
**Describe the bug**
[SAFARI] Date cell is still in edit state even after selecting a date from date picker calendar, need to click Enter again to exit edit state of cell.

**To Reproduce**
 I was able to reproduce the behavior in Safari only, it was working as expected in Mozilla, Google Chrome, and Edge where after selecting a date from calendar edit state is exited.

Steps to reproduce the beha

[2022-11-10 10:31] ericangeles opened #6965 "Icons: Incorrect color of new empty state icons"
**Describe the bug**

The new empty state icon colors isn't correct as in the Figma design file. The exclamation, question mark icon, and outline of the icons should not blue.

In Figma (The correct one)
<img width="791" alt="empty-state-icons-bug" src="https://user-images.githubusercontent.com/8839327/201066360-e4176f72-20b3-4dba-b477-c78f5646cd10.png">

In the IDS

<img width="902" alt="empty-st

[2022-11-10 13:04] glenlieorillo commented on #6744
QA Failed. The bug still exists.

Windows 11 Chrome (BrowserStack)

![image](https://user-images.githubusercontent.com/102151352/201098116-ace5fd48-b31f-41eb-8420-02c2f865d7ca.png)

Mac Chrome - main-enterprise
![image](https://user-images.githubusercontent.com/102151352/201098489-479cd8f9-bfda-43e1-bb80-e54c62d77dd0.png)

Mac Chrome - localhost
![image](https://user-images.githubusercontent.com/1

[2022-11-10 13:44] janahintal commented on #6896
Seems working in https://main-enterprise.demo.design.infor.com/components/datagrid/test-editable-time.html after I set a time and then click 'Enter' after. But it's not filtering right after I set a time and didn't hit Enter key.

![image](https://user-images.githubusercontent.com/45757016/201105290-4bb4e714-aaa5-4816-a622-44310c9b9717.png)
![image](https://user-images.githubusercontent.com/457570

[2022-11-10 13:46] janahintal commented on #6864
QA Passed. Verified in https://main-enterprise.demo.design.infor.com/components/editor/test-image-attribute.html. Thanks!
![image](https://user-images.githubusercontent.com/45757016/201108116-59178127-9972-4750-ba49-9c56a81c60cf.png)

[2022-11-10 15:03] tmcconechy commented on #6896
@corpulent can you see why this didnt deploy? It is working locally but not present on the deploy site

[2022-11-10 15:05] tmcconechy commented on #6744
@corpulent can you see why main isnt deploying this bug also failed.

[2022-11-10 15:26] tmcconechy commented on #6965
This works in http://localhost:4000/components/emptymessage/example-widgets.html because i added class is-slate.
When that class is used this will work. But it cant be easily added to that example since these icons are generated.

Will leave this for now

[2022-11-10 15:43] #6673 closed

[2022-11-10 15:45] #6917 closed

[2022-11-10 15:45] #6860 closed

[2022-11-10 15:47] #6845 closed

[2022-11-10 22:36] claudenbach commented on #6952
I've also noticed that the method clearRowError() is not removing the corner black hash on the selectCheckbox cell.  Using the example 'test-addrow-with-frozen-columns.html', this was last working correctly in v4.64.6.

[2022-11-10 22:38] claudenbach commented on #6952
Illustration of the issue in v4.70.0...

![ClearingRowError-4 70 0](https://user-images.githubusercontent.com/39804038/201220862-f8917b59-7087-4d07-82fa-693040ac6e72.gif)

[2022-11-10 22:38] claudenbach commented on #6952
Illustration of it last working in v4.64.6...

![ClearingRowError-4 64 6](https://user-images.githubusercontent.com/39804038/201220994-5a9f87c7-4430-40d9-8bbf-7127db11072e.gif)

[2022-11-11 01:39] glenlieorillo commented on #6845
QA Failed. Bug still exists.

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/102151352/201243396-5e39aed0-a3c3-4df6-8cfb-a230db1dedfe.png">

[2022-11-11 05:44] #6936 closed

[2022-11-11 11:18] janahintal commented on #6952
QA Passed. Verified working in
![image](https://user-images.githubusercohttps://main-enterprise.demo.design.infor.com/components/datagrid/test-addrow-with-frozen-columns.html?theme=classic&mode=light&colors=2578a9
ntent.com/45757016/201329653-e5eb15f1-d486-4b42-a3b4-18d4edc9ea1c.png)

[2022-11-11 11:38] jbrcna commented on #6737
this is working as expected in local. will retest once fix is available in main. thanks
https://main-enterprise.demo.design.infor.com/components/page-patterns/example-search-form.html
<img width="445" alt="image" src="https://user-images.githubusercontent.com/56722184/201332667-fea1bf0e-729a-463a-a73c-6b3792aaa8f1.png">

http://localhost:4000/components/page-patterns/example-search-form.html?theme

[2022-11-11 12:55] ericangeles commented on #6952
@tjamesallen15 can you check the `clearRowError()`?

[2022-11-11 14:38] tmcconechy commented on #6737
Its updated on main now. We are having issues deploying. I think in general if you dont see it on main and try local and it works you can trust its fixed.

[2022-11-11 14:39] tmcconechy commented on #6744
It's updated on main now. We are having issues deploying. I think in general if you dont see it on main and try running local  and if it works you can trust it works.

[2022-11-13 23:53] jbrcna commented on #6737
this is now working as expected. thanks
https://main-enterprise.demo.design.infor.com/components/page-patterns/example-search-form.html
<img width="462" alt="image" src="https://user-images.githubusercontent.com/56722184/201551231-bfcafd56-9cca-46b4-b500-43202142e0f5.png">

[2022-11-14 00:00] jbrcna commented on #6845
the issue still exist on firefox browser
https://main-enterprise.demo.design.infor.com/components/counts/test-widget-long-title.html
<img width="811" alt="image" src="https://user-images.githubusercontent.com/56722184/201551434-1f7d8d93-b0e1-47d4-8463-c6a17a3e2fed.png">
http://localhost:4000/components/counts/test-widget-long-title.html
<img width="601" alt="image" src="https://user-images.githubu

[2022-11-14 04:58] #6877 closed

[2022-11-14 05:52] #6902 closed

[2022-11-14 05:53] #6892 closed

[2022-11-14 06:29] glenlieorillo commented on #6744
QA tested and passed.

Mac Chrome
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/102151352/201590425-44de3102-f180-48fb-9e7e-0e9f94dc6ecb.png">

Windows 11 - Chrome (BrowserStack)
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/102151352/201590206-22a85189-e2da-4375-bb42-9e38cc9c845e.png">

[2022-11-14 08:49] janahintal commented on #6860
QA Passed. Verified working as expected in https://main-enterprise.demo.design.infor.com/components/popupmenu/test-handling-predefined-wrappers.html
Thanks!

[2022-11-14 08:54] ericangeles commented on #6845
Please check @tjamesallen15

[2022-11-14 12:22] janahintal commented on #6917
QA Passed. Verified in https://main-enterprise.demo.design.infor.com/components/datagrid/test-editable-datetime.html. Thanks!
![image](https://user-images.githubusercontent.com/45757016/201658761-af45aaf8-fdf2-4da7-b2c8-3a78d7eb0624.png)

[2022-11-14 12:37] janahintal commented on #6673
QA Passed. Verified in https://main-enterprise.demo.design.infor.com/components/tabs-module/example-index.html#order-entry thanks!
![image](https://user-images.githubusercontent.com/45757016/201662168-850dfab9-913f-4ee2-a314-70205bd0f05e.png)

[2022-11-15 04:45] jbrcna commented on #6877
QA PAssed. v4.70.0-dev
https://main-enterprise.demo.design.infor.com/components/datagrid/example-editable.html
https://main-enterprise.demo.design.infor.com/components/datepicker/test-datepicker-today-increment-key.html
![Large GIF (1506x560)](https://user-images.githubusercontent.com/56722184/201827688-089a42b4-7d3c-4fce-b603-ccd64a4055ff.gif)

[2022-11-15 04:45] jbrcna commented on #6902
QA Passed. v4.70.0-dev
https://main-enterprise.demo.design.infor.com/components/tabs/example-add-tab-button.html
<img width="1337" alt="image" src="https://user-images.githubusercontent.com/56722184/201828386-6e207e10-4861-4604-acf8-61b027ff82c8.png">

[2022-11-15 10:31] glenlieorillo commented on #6892
QA tested and passed.

http://localhost:4000/components/editor/test-paste-as-plain-text.html

https://user-images.githubusercontent.com/102151352/201897012-4ad0c5fc-fc9b-4454-83d1-5217b6741f30.mov

http://localhost:4000/components/editor/example-index.html

https://user-images.githubusercontent.com/102151352/201897104-966b19e1-7c47-4f65-af80-372fc4dc6033.mov

[2022-11-15 12:06] janahintal opened #6969 "Field Filter: Misaligned arrow icon in responsive view"
**Describe the bug**
Field Filter: Misaligned arrow icon in responsive view

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/field-filter/example-short.html
2. Minimize the Screen
3. Open the field filter

**Expected behavior**
All icons should not be misaligned

**Version**
4.70-ids-dev

**Screenshots**
![image](https://user-ima

[2022-11-15 17:56] darinw opened #6970 "fileupload-advanced: HTML rendered from file name"
**Describe the bug**
If a file is added to the fileupload-advanced component with something like `<img scr=z onerror=alert(2);>.py` it will append the image to the DOM.

[fileupload-advanced L361](https://github.com/infor-design/enterprise/blob/1a0dc8e3614324c03cc46c1c7daddc0b413c98c5/src/components/fileupload-advanced/fileupload-advanced.js#L361)

Related Jira: https://jira.infor.com/browse/IONDE

[2022-11-16 03:06] yohannahbautista opened #6971 "Circlepager: Convert Protractor tests to Puppeteer"
**Is your feature request related to a problem or use case? Please describe.**
Convert Circlepager component protractor tests to puppeteer.

**Describe the solution you'd like**
Convert all test scenarios in protractor to puppeteer. The naming can be, {component}.puppeteer-spec.js

[2022-11-16 06:31] jbrcna opened #6973 "Page-patterns: example-header-detail overlapping labels in mobile view"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/page-patterns/example-header-detail.html
2. See error
3. Notice the 'Details" label overlap

**Expected behavior**
<img width="197" alt="image" src="https://user-images.githubusercontent.com/56722184/202101784

[2022-11-16 17:05] tmcconechy commented on #6970
@ericangeles can you fit this one in?

[2022-11-17 02:20] ericangeles commented on #6970
@tmcconechy for sure

[2022-11-17 09:52] marnix commented on #6970
Asking for a colleague: Is there any way to work around this issue on the adopting side, without having to wait for a release that contains this fix?  Thanks!

[2022-11-17 11:22] jbrcna opened #6976 "Personalize: phone icon is not displayed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/personalize/example-form2.html
2. See error

**Expected behavior**
phone icon should be  displayed

**Version**

- ids-enterprise: v4.70.0-dev

**Screenshots**
<img width="578" alt="image" src="https://user-im

[2022-11-17 12:49] hsubtain commented on #6963
Hi @tmcconechy, I would just like to ask a possible delivery date for the fix? Thank you!

[2022-11-17 13:42] ericangeles commented on #6976
Either `filled` or `linear` will do.

[2022-11-17 14:16] tmcconechy commented on #6922
https://www.figma.com/file/yaJ8mJrqRRej8oTsd6iT8P/IDS-(SoHo)-Component-Library-v4.5?node-id=19558%3A13628

[2022-11-17 14:31] tmcconechy opened #6977 "Secondary Button: Change from Slate to Solid with Border"
**Describe the bug**
Based on feedback would like to change the secondary button to a blue border to a slate button.

- Classic Leave it
- Dark =- TBD
- Contrast - darker azure like the primary

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
See Designs link https://www.figma.com/file/VcRDGPFqlp3MJ46mEWkGPf/Buttons?node-id=701%3A1222&t=2eRdbD

[2022-11-17 14:36] tmcconechy commented on #6952
@tjamesallen15 looks like we missed the bug mentioned on the comment added later https://github.com/infor-design/enterprise/issues/6952#issuecomment-1310989491

Can you take a look and make an additional fix? Higher priority as it needs a patch. Thanks!

[2022-11-17 14:45] #6618 closed

[2022-11-17 14:48] tmcconechy commented on #4442
When we add this it will be done on https://github.com/infor-design/enterprise-wc/issues/837 so please watch this issue

[2022-11-17 14:48] #4442 closed

[2022-11-17 14:52] tmcconechy commented on #4369
We are unable to provide this at this time. The use case is too limited to be included. Please contact @inforandy if any questions.

[2022-11-17 15:06] tmcconechy opened #6978 "Header: Add White Background (Default)"
**Is your feature request related to a problem or use case? Please describe.**
Add the ability to add a white header and make it the default.

**Describe the solution you'd like**
- Make white the default on https://main-enterprise.demo.design.infor.com/components/header/example-index.html
- All colors still possible in the .. menu

**Additional context**
Will need to go in WC as well.

[2022-11-17 15:10] tmcconechy opened #6979 "Tabs: Add White Background (as Default)"
**Is your feature request related to a problem or use case? Please describe.**
Make the tabs header white like #6978

**Describe the solution you'd like**
- change https://main-enterprise.demo.design.infor.com/components/tabs-header/example-alternate.html to the default
- will be some changes like hover state
- https://main-enterprise.demo.design.infor.com/components/tabs-header/example-index.html

[2022-11-17 15:16] tmcconechy commented on #6976
`icon-phone-linear` works

[2022-11-17 15:33] tmcconechy opened #6980 "SignIn Page: New Designs"
**Describe the Task**
Change the signin component to follow the attached designs includes:

- change to sign in page
- ability to add background color
- option to inputs to look that way

**Designs**
https://www.figma.com/file/l4GMLPeQ2PzIHqhaPtF74G/Log-in?node-id=0%3A1&t=qJXL2E8rNguy4z9X-0

**Also**
Need to work on in web components too (separate issue TBD)

[2022-11-17 15:47] tmcconechy commented on #6970
i cant seem to reproduce it to try for a workaround. When i go to https://main-enterprise.demo.design.infor.com/components/fileupload-advanced/example-index.html and upload a file of that name. It is all good.

It really looks like from the screen shot its just a missing image? Do you use CSP? (this could be an option or maybe its a CSP error)

Also i dont have access to the Jira to see further de

[2022-11-18 00:57] tjamesallen15 commented on #6952
will do

[2022-11-18 01:11] tjamesallen15 commented on #6952
Hello @tmcconechy  @ericangeles ,

Please a take look at this video below. I cant reproduce it. I followed the steps from the comment.
https://user-images.githubusercontent.com/34049950/202593410-e0b5c275-92fa-4f10-88fe-bac62d4b2a1d.mp4

[2022-11-18 08:21] ericangeles opened #6982 "Searchfield: Searchfield styling issues in RTL"
**Describe the bug**

Searchfield UI looks off in RTL.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/searchfield/example-buttons.html?locale=ar-EG
2. Looking at the Searchfield, there's a bunch of issues in terms of the UI including
    - searchfield input doesn't have borders
    - search icon position
    - when search is ac

[2022-11-18 08:49] #6847 closed

[2022-11-18 10:37] glenlieorillo commented on #6965
QA tested and passed.

Mac Chrome
<img width="1791" alt="image" src="https://user-images.githubusercontent.com/102151352/202682949-17abbfb5-1156-49c3-a69f-323a03daa081.png">

Mac FF
<img width="1791" alt="image" src="https://user-images.githubusercontent.com/102151352/202683195-7ae65fd0-996d-4143-b3cc-d8ba2e7a8125.png">

Safari
<img width="1791" alt="image" src="https://user-images.githubuserconte

[2022-11-18 13:44] jbrcna opened #6983 "Popover: example-immediate not displayed properly"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/popover/example-immediate.html
2. See error

**Expected behavior**
<img width="338" alt="image" src="https://user-images.githubusercontent.com/56722184/202718407-3118fdbc-ebb2-4219-8ba1-dda3a832da42.png">

**V

[2022-11-18 14:29] tmcconechy commented on #6983
Is that the right link @jbrcna ? Not seeing the screen shot on that page?

[2022-11-18 14:43] tmcconechy commented on #6952
@claudenbach ?

[2022-11-18 15:40] claudenbach commented on #6952
I'm only seeing that this is still an issue in v4.68.x.  When testing with v4.70.0 it was working fine.

[2022-11-18 15:41] claudenbach commented on #6952
Testing using v4.68.1...

![Testing-v4 68 1](https://user-images.githubusercontent.com/39804038/202743651-b2e97fb9-23d9-406d-b40f-f2176a6854d4.gif)

[2022-11-18 15:42] claudenbach commented on #6952
Testing using v4.70.0...

![Testing-v4 70 0](https://user-images.githubusercontent.com/39804038/202743805-d4ea271a-f274-4dad-be02-c40eecead0aa.gif)

[2022-11-18 15:52] tmcconechy commented on #6952
@tjamesallen15 can you check 4.68.x and push a fix to that branch? thanks!

[2022-11-21 03:18] jbrcna commented on #6983
yes @tmcconechy
https://main-enterprise.demo.design.infor.com/components/popover/example-immediate.html
<img width="1145" alt="image" src="https://user-images.githubusercontent.com/56722184/202877741-5038ec3b-b0d1-44f9-8dc5-7b6e5ec6258e.png">

[2022-11-21 05:52] tjamesallen15 commented on #6970
I'm using Windows PC and Mac to test this and I cannot reproduce it.
![image](https://user-images.githubusercontent.com/34049950/202975373-dee672e7-c49a-420d-9279-7b4817354ec2.png)
![image](https://user-images.githubusercontent.com/34049950/202975420-ccb628b7-0415-4f0c-96b5-affe26e8ffb3.png)

cc @tmcconechy @ericangeles

[2022-11-21 14:17] tmcconechy commented on #6970
@darinw / @marnix ? No one can reproduce this. Did you try the latest version? Or maybe the issue is on your end?

[2022-11-21 14:52] darinw commented on #6970
I will reach out to see how they were able to create a file with `<img scr=z onerror=alert(2);>.py` it seems to remove the < and >

[2022-11-22 05:03] #6940 closed

[2022-11-22 11:40] jbrcna opened #6988 "Slider: slider bounces back when zoomed in safari"
**Describe the bug**
with safari browser, if the browser is zoomed in,  the slider bounces back whn updating

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/slider/example-vertical.html
2. Zoom in
3. Update each slider
4. See error

**Expected behavior**
should update properly.

**Version**

- ids-enterprise: v4.70.0-dev

**Scre

[2022-11-22 14:28] tmcconechy commented on #6970
No one seems to be able to reproduce.

[2022-11-22 14:37] #6781 closed

[2022-11-22 14:50] #6061 closed

[2022-11-22 14:50] tmcconechy commented on #6359
Closing older issues we cant reproduce.

[2022-11-22 14:50] #6359 closed

[2022-11-22 14:50] tmcconechy commented on #6417
Closing older issues we cant reproduce.

[2022-11-22 14:50] #6417 closed

[2022-11-22 14:50] tmcconechy commented on #6808
Closing older issues we cant reproduce.

[2022-11-22 14:50] #6808 closed

[2022-11-22 14:50] tmcconechy commented on #6938
Closing older issues we cant reproduce.

[2022-11-22 14:50] #6938 closed

[2022-11-23 05:46] ericangeles opened #6989 "Radar: Convert Protractor tests to Puppeteer"
**Is your feature request related to a problem or use case? Please describe.**
Convert Radar component protractor tests to puppeteer.

**Describe the solution you'd like**
Convert all test scenarios in protractor to puppeteer. The naming can be, {component}.puppeteer-spec.js

[2022-11-23 06:35] inforrpunay opened #6990 "Tabs: Selected tab from More menu should be visible on the tabs list"
**Is your feature request related to a problem or use case? Please describe.**
It is possible in our application that the user opened several programs and each program has its own tab. Having multiple tabs results to having the "N More" menu to the right to be able to select the other tabs that can no longer be displayed in the main tab list. When the user selects a program from the More menu, the

[2022-11-23 08:21] #6916 closed

[2022-11-23 09:57] cpinatel7 opened #6992 "Tabs: regression from#6068 #6464"
Please refer to: https://github.com/infor-design/enterprise/issues/6464

Failed retest (test environment: Landmark MT. Testing in ar).

Focus on the tabs, the outline isn't aligned for **long** tab names.

Screenshots attached.

![Fixed](https://user-images.githubusercontent.com/66057969/203518039-cbddced4-c57a-4252-92aa-a7bdb596c0c6.png)

![NOT Fixed -Administration Console-Analytics-Data Access

[2022-11-23 14:02] inforandy opened #6993 "Update IDS Status Colors; Green,Orange"
We need to update a few of our status colors

Green
OLD - #1F9254
NEW - #2AC371

Orange
OLD.- #CD6200
NEW - #F98300

figma link for reference - https://www.figma.com/file/yaJ8mJrqRRej8oTsd6iT8P/IDS-(SoHo)-Component-Library-v4.5?node-id=19558%3A13628&t=LJhLqVEWUDVWHzdn-0

[2022-11-23 14:04] inforandy commented on #6993
@tmcconechy let me know if we can do this in conjunction with re-adding the yellow status color for 4.71, happy to provide any further details

[2022-11-23 15:04] tmcconechy commented on #6993
Linking issue https://github.com/infor-design/enterprise/issues/6922

[2022-11-23 15:36] tmcconechy commented on #6992
Any way to get a landmark dev to add an example that shows the issue? Can you reproduce in any examples...

[2022-11-23 15:39] tmcconechy commented on #6990
This might be tricky as the only way i can think to do it is change the design so the top toolbar is really only a scroller and you scroll over to the tab rather than selecting it. (maybe combined with a button)

[2022-11-23 15:46] cpinatel7 commented on #6992
3 screenshots are already attached (1 showing that the fix works for short tab names and 2 Landmark screenshots showing that long tab names are not displayed correctly). What else do you need? Thanks

[2022-11-23 15:57] tmcconechy commented on #6992
Since we dont run landmark itself usually they provide a minimal example. But we can try to put one together with the example data (but wouldn't know how to type the arabic). If possible take the relavent example from the repo and put your data in it and see it shows the issue. Then attach.

[2022-11-23 16:02] cpinatel7 commented on #6992
You don't need to type anything in Arabic.

Example (already included in the provided screenshots):

![image](https://user-images.githubusercontent.com/66057969/203592876-e139c381-7b9c-443d-9e08-5c515ec2ba7e.png)

[2022-11-23 16:04] tmcconechy commented on #6992
Right but we have no way to run that. I can only run these pages https://main-enterprise.demo.design.infor.com/components/tabs-module (we dont work on the Landmark team directly).

cc @claudenbach ?

[2022-11-23 16:14] cpinatel7 commented on #6992
This focus issue for ar was initially raised as part of https://github.com/infor-design/enterprise/issues/6464. Issue partially fixed so new GitHub (6992) for long tab names

[2022-11-23 16:16] tmcconechy commented on #6992
ok we can try and make just a longer name - if its just that should be enough to still see it. Will let you know.

[2022-11-23 16:20] claudenbach commented on #6992
I was going to suggest trying a longer name, perhaps without spaces?

[2022-11-25 02:20] tjamesallen15 opened #6995 "Listbuilder: Convert Protractor Tests to Puppeteer"
**Is your feature request related to a problem or use case? Please describe.**
Convert Listbuilder component tests to puppeteer.

**Describe the solution you'd like**
Convert all tests scenarios in protractor to puppeteer. For the naming can be, `{component}.puppeteer-spec.js`

**Describe alternatives you've considered**
N/A

[2022-11-25 03:24] hsubtain commented on #6014
Hi @tmcconechy, would like to ask on the possible delivery date for the fix on this issue? Thank you!

[2022-11-25 08:11] jbrcna commented on #6781
QA Passed.v4.70.0-dev
https://main-enterprise.demo.design.infor.com/components/datagrid/example-expandable-row-editable.html

[2022-11-27 14:32] tmcconechy commented on #6014
I'll try to get this in the January sprint. (Complete and released early Feb)

[2022-11-28 10:08] yohannahbautista opened #6996 "Puppeteer Utils: Refactoring Check Methods"
**Describe the Issue**
All the check methods have a risk of creating false positives when using them to run tests. Will either remove or fix the methods depending if it's a necessary utility.

[2022-11-28 12:52] jbrcna opened #6998 "Toolbarsearchfield: example-inside-contextual-panel 'x' icon is not fully visibile"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://main-enterprise.demo.design.infor.com/components/toolbarsearchfield/example-inside-contextual-panel.html
2. Open CAP
3. type a text in searchfield
4. See error

**Expected behavior**
<img width="350" alt="image" src="https://user-images.githubusercontent.com

[2022-11-29 05:43] jbrcna commented on #6820
QA PAssed . v4.70.0-dev
https://main-enterprise.demo.design.infor.com/components/applicationmenu/test-accordion-card.html
<img width="1563" alt="image" src="https://user-images.githubusercontent.com/56722184/204448153-7d4b2cbf-b2c7-4eaf-9ce6-890a95cf94de.png">

[2022-11-29 16:02] tmcconechy opened #6999 "Icons: Two new icons"
**Describe the bug**
Design added two new icons `empty-no-search-result` and `advance-settings`. Requires a new design system bump.

**Expected behavior**
A clear and concise description of what you expected to happen.

[2022-11-29 19:49] krishollenbeck opened #7000 "Icon in card formatter causes clipping issues"
**Describe the bug**
Icons in card formatters causes clipping with adjacent text.

Steps to reproduce the behavior:

1. Add HTML to **_test-card-cell.html_**

[code]

2. Go to http://localhost:4000/components/datagrid/test-card-cell.html
3. Select row
4. See clipping issue

**Expected behavior**
A clear and concise description of what you expected to happen.

**Version**
4.70.0-dev

**Screenshots*

[2022-11-30 14:28] rusteninfor opened #7001 "field filter in modal design-glitch"
**Describe the bug**
using a field fielfilter-wrapper component inside a modal makes for weird design-glitch

**To Reproduce**
Reproduced for you here:
https://ids-enterprise-4690-stxrtu.stackblitz.io/

Steps to reproduce the behavior:
Click link above, look at first field.

**Expected behavior**
First field should look like all the other fields.

**Version**
- ids-enterprise 4.69.0

**Screenshots